ul {
	text-align: left;
}

.language-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: left;
	justify-content: baseline;
	border-radius: 1rem;
	gap: 1rem;
}

.language-item {
	flex: 1; 
	flex-direction: row;
	align-items: center;
	justify-content: left;
	min-width: 10rem;
	min-height: 10rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#language-prompter {
	flex: 0.5;
}

#song-grid {
	align-items: left;
	justify-content: left;
	text-align: left;
}

#button-pool {
	padding: 1rem;
	background-color: var(--clr-quinary-body);
}

#button-pool > button {
	height: 4rem;
	width: fit-content;
	overflow: hidden;
}

#song-button-pool {
	padding: 1rem;
	background-color: var(--clr-quinary-body);
}

#song-button-pool > button {
	height: 4rem;
	width: fit-content;
	overflow: hidden;
}

#study-tables {
	flex: 0.5;
	flex-direction: row;
	text-align: left;
}

table {
	font-size: 1.5rem;
	width: fit-content;
	padding: 1rem;
	/* border-style: double;
	border-left: none;
	border-right: none;
	border-color: var(--clr-primary); */
}

table > tr > th {
	/* width: fit-content; */
	border-style: double;
	border-color: var(--clr-secondary);
}

table > tr > td {
	/* width: fit-content; */
	border-style: double;
	border-color: var(--clr-tertiary);
}

li:hover {
	background-color: var(--clr-quaternary);
}

sup {
	display: none;
}

.display-sup {
	display: block;
	background-color: var(--clr-quinary-body);
}

/* ----- MODAL ----- */

.modal-prompt:hover {
	cursor: pointer;
	color: var(--clr-primary);
	position: inherit;
	text-shadow: -2.5px -1px 0px #ff00ff;
}

.modal {
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(2, 50%);
}

.modal-focus {
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1.5rem;
	border-right-color: grey;
	border-right-style: groove;
	
	/* max-height: fit-content; */
}

.modal-field {
	background-color: var(--clr-quinary-body);
	margin: 15% auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

#modal-text > ul > li {
	list-style-type: none;
}

.modal-line {
	width: 25%;
}

.close-modal {
	border-top: none;
	border-bottom: 1px solid #888;
	border-left: none;
	border-right: 1px solid #888;
	color: #888;
	float: inline-start;
	font-size: 2rem;
	font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-device-width: 500px) {
	.language-grid {
		flex-direction: column;
	}

}