ul {
	text-align: left;
}

#vocab-field {
	font-size: 3rem;
}

#language-grid {
	flex-direction: row;
}
#navigation-item {
	flex: .4;
	flex-direction: column;
	/* text-align: left; */
	/* align-items: baseline; */
	/* align-content: center; */

	min-width: 2rem;
	min-height: 2rem;
	padding: 2rem;
}

#language-item {
	flex: .6;
	align-items: baseline;
	align-content: baseline;
}

li:hover {
	background-color: var(--clr-quaternary);
}

sup {
	display: none;
}

.display-sup {
	display: block;
	background-color: var(--clr-quinary-body);
}
