ul {
	text-align: left;
}

#language-grid {
	flex-direction: row;
}

.language-item {
	flex: 1; 
	display: flex;
	flex-direction:row;
	align-items: left;
	justify-content: left;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#study-tables {
	text-align: left;
}

table {
	padding: 1rem;
	border-style: double;
	/* border-left: none;
	border-right: none; */
	border-color: var(--clr-primary);
}
table > tr > th {
	width: 0.1rem;
	border-style: double;
	border-color: var(--clr-secondary);
}

table > tr > td {
	width: 0.1rem;
	border-style: double;
	border-color: var(--clr-tertiary);
}

li:hover {
	background-color: var(--clr-quaternary);
}

sup {
	display: none;
}

.display-sup {
	display: block;
	background-color: var(--clr-quinary-body);
}
