<div id="clouds-handle" x-data="{
	sky: {},
		}">

	<div id="all-clouds-display" x-effect="sky = await $get('/api/media/clouds')">
		<img width="100%" height="100%" src="../images/squares-fade.svg" alt="loading..." cmbr-loading />
		<div id="cloud-table" class="cmbr-pen flex-table" x-effect="await JSON.stringify(sky, null, 2)">
			<dl>
				<template x-for="(cloud, index) in sky" :key="index" x-data>
					<div x-effect="CMBRutil.cloudGen($el, [cloud.title, cloud.thought])">
					</div>
				</template>
			</dl>
		</div>
	</div>
</div>
<div>
	<template x-if=" $store.nauth.valid ">
		<form action="/api/media/clouds" method="POST" class="grid-col-1-1">
			<label for="title" x-text="'Cloud Title'"></label>
			<input type="text" name="title" :id=$id('title') required>

			<label for="thought" x-text="'Cloud Thought'"></label>
			<input type="text" name="thought" :id=$id('thought') required>

			<label for="weight" x-text="'Cloud Weight'"></label>
			<input type="text" name="weight" :id=$id('location')>

			<div></div>
			<button type="submit">Cloudmake!</button>
		</form>
		<hr class="hr-push-up">
	</template>
</div>