<div id="taxability-handle" x-data=" {

            taxButton: document.getElementById(" tax-button"), url: 'localhost5500/dashboard/dashboard.html?' , obj: {
    v1: "javascript" , v2: "java" , v3: "php" , }, searchParams: new URLSearchParams(obj), // console.log("Taxability
    Query String: " + searchParams),

            queryString: searchParams.toString(),

            } ">

    <div>
        <h2 class="marker-green">Taxability Calculator</h2>
        <hr class="hr-cmbr-dark-gradient">
        <p x-text=" url "></p>
    </div>
    <div id="taxes-table" class="flex-table">

        <div class="flex-table-row grid-col-1">
            <div>
                <p>Tax Balance:</p>
                <input type="text" placeholder="50000" value="50000" id="tax-balance">
            </div>
            <div>
                <p>Interest Rate:</p>
                <input type="text" placeholder="5.0" value="5.0" id="tax-interest-rate">
            </div>
            <div>
                <p>Monthly Payment:</p>
                <input type="text" placeholder="500" value="500" id="tax-monthly-payment">
            </div>

            <div>
                <br>
                <button id="tax-button" class="trigger-box"
                    @click=" window.location.href = url + queryString ">Submit</button>
            </div>
        </div>
    </div>
</div>