<div id="mdeditor-handle" x-data="{
        value: '# Write Some Markdown...',
        init() {
        let editor = new SimpleMDE({
            element: this.$refs.editor,
            forceSync: true,
            hideIcons: ['guide', 'heading' ], 
            indentWithTabs: true,
            initialValue: 'Hello world!',
            insertTexts: {
                horizontalRule: ['', '\n\n=====\n\n' ], 
                image: ['![](http://', ')' ], link: ['[', '](http://)' ], },
                lineWrapping: false,
                parsingConfig: { allowAtxHeaderWithoutSpace: true, strikethrough: false, underscoresBreakWords: true, },
            });
            editor.value(this.value);
            
            editor.codemirror.on('change', () => {
                this.value = editor.value();
             });
            }
        }">

    <textarea x-ref="editor"></textarea>
    <button hx-get="/api/blog/markdown" hx-trigger="click"></button>
</div>