<div id="correctional-ranks" :class="'flex-table-cmbr grid-col-1'">
    <div>
        <p>Warden</p>
    </div>
     <div>
        <p>Assistant Warden</p>
    </div>
     <div>
        <p>Captain</p>
    </div>
     <div>
        <p>Lieutenant</p>
    </div>
     <div>
        <p>Sergeant</p>
    </div>
     <div>
        <p>Special Correctional Officer</p>
         <div class="caution grid-col-1">
            <hr class="hr-trans">
            <p class="vt323">Lead Correctional Officer</p>
            <p class="vt323">Field Training Officer</p>
            <p class="vt323">Prison Emergency Response Teammember</p>
        </div>
    </div>
     <div>
        <p>Correctional Officer</p>
        <div class="caution grid-col-1">
            <hr class="hr-trans">
            <p class="vt323">Master</p>
            <p class="vt323">Senior</p>
            <p class="vt323">First Class</p>
            <p class="vt323">Trainee</p>
        </div>
    </div>
     <div>
        <p>Cadet</p>
    </div>

</div>