<style>
    #cpa-progress-bar {
        display: block;
        height: 1.5rem;
        position: relative;
        background: var(--cmbr-curtain-plum);
        /* border-radius: 1rem; */
        /* margin-right: 5%; */
        /* margin-left: 5%; */
        box-shadow: 1.5rem 1rem 1rem -1rem var(--cmbr-dark-grey) inset;
    }

    #cpa-progress-bar>span {
        display: block;
        height: 100%;
        /* border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; */
        background-color: rgb(134, 227, 159);
        background-image: linear-gradient(center bottom,
                rgb(108, 222, 138) 37%,
                rgb(84, 240, 84) 69%);
        box-shadow:
            inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }

    #dpl-progress-bar {
        display: block;
        height: 1.5rem;
        position: relative;
        background: var(--cmbr-curtain-plum);
        box-shadow: 1.5rem 1rem 1rem -1rem var(--cmbr-dark-grey) inset;
    }

    #dpl-progress-bar>span {
        display: block;
        height: 100%;
        background-color: rgb(134, 185, 227);
        background-image: linear-gradient(center bottom,
                rgb(108, 121, 222) 37%,
                rgb(118, 84, 240) 69%);
        box-shadow:
            inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }

    #aas-progress-bar {
        display: block;
        height: 1.5rem;
        position: relative;
        background: var(--cmbr-curtain-plum);
        box-shadow: 1.5rem 1rem 1rem -1rem var(--cmbr-dark-grey) inset;
    }

    #aas-progress-bar>span {
        display: block;
        height: 100%;
        background-color: rgb(227, 139, 134);
        background-image: linear-gradient(center bottom,
                rgb(222, 163, 108) 37%,
                rgb(240, 141, 84) 69%);
        box-shadow:
            inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }

    .taking {
        color: var(--clr-tertiary);
        list-style-type: circle;
    }

    #acc-courses {
        padding-left: 1rem;
    }

    #acc-courses>li:hover {
        background: var(--clr-quaternary);
    }

    .planned-or-completed {
        color: var(--clr-tertiary);
    }

    .taken {
        color: var(--clr-secondary);
        list-style-type: "✓ ";
    }

    .acc-schedule-grid {
        display: grid;
        grid-template-columns: repeat(11, 8%);
    }

    .cpa-req {
        color: black;
    }

    .cpa-req-highlight {
        color: red;
    }
</style>

<div id="reeducation-handle">
    <div class="modal" style="display:none;">
        <div class="modal-field">
            <span class="modal-close">&times;</span><br>
            <div id="modal-text"></div>
        </div>
    </div>
    <div>
        <h2 class="marker-green">Re-Education Information</h2>
        <hr class="hr-cmbr-dark-gradient">
    </div>

    <span class="marker modal-prompt" id="accounting-modal">Additional Information</span>

    <div>CPA Credits: <span id="cpa-credits"></span>/30</div>
    <div id="cpa-progress-bar"></div>
    <br>
    <div id="dpl-progress-bar"></div>
    <br>
    <div id="aas-progress-bar"></div>
    <hr class="hr-groove-top">

    <ul id="acc-courses" style="list-style-type: none; text-align: left;">
        <span class="marker">Advanced Core Requirements</span>
        <li class="taken acc-core adv-acc-core planned-or-completed" value="3">ACC 120 - Prin of Financial
            Accounting (3)</li>
        <li class="taken acc-core adv-acc-core planned-or-completed" value="3">ACC 121 - Prin of Managerial
            Accounting (3)</li>
        <li class="not-taken acc-core adv-acc-core" value="3">BUS 115 - Business Law I (3)</li>
        <li class="taken adv-acc-core planned-or-completed" value="4">ACC 220 - Intermediate Accounting I (4)
        </li>
        <li class="not-taken adv-acc-core" value="3">ACC 129 - Individual Income Taxes (3)</li>
        <li class="taken adv-acc-core planned-or-completed" value="4">ACC 221 - Intermediate Accounting II (4)
        </li>
        <li class="not-taken adv-acc-core" value="3">ACC 269 - Auditing & Assurance Services (3)</li>
        <hr><span class="marker">To Fulfill CPA Requirements</span>
        <li class="not-taken acc-dpl" value="3">ACC 240 - Gov & Non-Profit Accounting (3)</li>
        <li class="not-taken acc-dpl acc-soft-app" value="2">ACC 149 - Intro to ACC Spreadsheets (2)</li>
        <li class="not-taken acc-dpl acc-soft-app" value="2">ACC 150 - Accounting Software Applications (2)</li>
        <hr><span class="marker">Optional Diploma Requirements</span>
        <li class="not-taken acc-dpl" value="2">ACC 140 - Payroll Accounting (2)</li>
        <li class="not-taken acc-dpl" value="3">ACC 130 - Business Income Taxes (3)</li>
        <li class="not-taken acc-dpl" value="3">ACC 215 - Ethics in Accounting (3)</li>
        <li class="not-taken acc-dpl" value="0">ECO 251 - Prin of Microeconomics (3)</li>
        <li class="not-taken acc-dpl" value="0">CIS 110 - Intro to Computers (3)</li>
        <hr><span class="marker">Optional AAS Requirements</span>
        <li class="not-taken acc-aas" value="3">ACC 227 - Practices in Accounting (3)</li>
        <li class="not-taken acc-aas" value="0">ENG 112 - Writing/Research in the Disc (3)</li>
        <li class="not-taken acc-aas" value="0">HUM 115 - Critical Thinking (3)</li>
        <li class="not-taken acc-aas" value="0">BUS 225 - Business Finance (3)</li>

        <hr><span class="marker">Miscellaneous</span>
        <li class="taken planned-or-completed" value="0">BUS 110 - Intro to Business: Japan</li>
    </ul>
    <hr class="hr-groove-bottom">
</div>

<script>
    let cpaCredits = 0;
    let dplCredits = cpaCredits;
    let aasCredits = dplCredits;
    const cpaCreditsDisplay = document.getElementById("cpa-credits");
    const cpaProgressBar = document.getElementById("cpa-progress-bar");
    const dplProgressBar = document.getElementById("dpl-progress-bar");
    const aasProgressBar = document.getElementById("aas-progress-bar");
    const modal = document.querySelector(".modal");
    const closeModal = document.getElementsByClassName("modal-close")[0];

    // |=====| REEDUCATION INFORMATION |=====|
    function cpaModalAccess() {
        accModalClick.onclick = function () {
            accModal.style.display = "block";
        };
        closeModal.onclick = function () {
            accModal.style.display = "none";
        };
        window.onclick = function (event) {
            if (event.target === accModal) {
                accModal.style.display = "none";
            }
        };
    }
    function initCpaCredits() {
        document.querySelectorAll(".taken").forEach(course => {
            cpaCredits += course.value;
            dplCredits += course.value;
            aasCredits += course.value;
        });
        document.querySelectorAll(".taking").forEach(course => {
            cpaCredits += course.value;
            dplCredits += course.value;
            aasCredits += course.value;
            if (!course.value && course.classList.contains("acc-dpl")) {
                dplCredits += 3;
            }
            if (!course.value && course.classList.contains("acc-aas")) {
                aasCredits += 3;
            }
        });
    }
    function displayCpaCredits() {
        cpaCreditsDisplay.innerHTML = cpaCredits;
        let cpaCompletionPercentage = cpaCredits / 30 * 100;
        let dplCompletionPercentage = dplCredits / 44 * 100;
        let aasCompletionPercentage = aasCredits / 56 * 100;

        cpaCredits >= 30 ? cpaCompletionPercentage = 100 : cpaCompletionPercentage;
        dplCredits >= 44 ? dplCompletionPercentage = 100 : dplCompletionPercentage;
        aasCredits >= 56 ? aasCompletionPercentage = 100 : aasCompletionPercentage;

        cpaProgressBar.innerHTML = `<span style="width:${cpaCompletionPercentage}%;"></span>`;
        dplProgressBar.innerHTML = `<span style="width:${dplCompletionPercentage}%;"></span>`;
        aasProgressBar.innerHTML = `<span style="width:${aasCompletionPercentage}%;"></span>`;

    }
    function enableCpaProjection() {
        document.querySelectorAll(".not-taken").forEach(course => {
            let clicked = false;
            course.onclick = function () {

                if (!clicked) {

                    if (!course.value && course.classList.contains("acc-dpl")) {
                        dplCredits += 3;
                        aasCredits += 3;
                    }
                    if (!course.value && course.classList.contains("acc-aas")) {
                        aasCredits += 3;
                    }
                    clicked = true;
                    cpaCredits += course.value;
                    dplCredits += course.value;
                    aasCredits += course.value;
                    course.classList.add("planned-or-completed");
                } else {
                    cpaCredits -= course.value;
                    dplCredits -= course.value;
                    aasCredits -= course.value;
                    clicked = false;
                    if (!course.value && course.classList.contains("acc-dpl")) {
                        dplCredits -= 3;
                        aasCredits -= 3;
                    }
                    if (!course.value && course.classList.contains("acc-aas")) {
                        aasCredits -= 3;
                    }
                    course.classList.remove("planned-or-completed");
                }
                displayCpaCredits();
            }
        });
    }
    function displayAccountingModal() {
        const accountingModalData = `
	<p>I'm doing Accounting now.<br>
		I believe that I will more quickly and easily migrate to a non-custody position
		through this line of work.<br>
		The opportunities are plentiful, even intra-department, and I'm enjoying these studies.<br>
		I expect to be eligible for basic non-custody positions after attaining WTCC's Advanced
		Accounting Core Cert.<br>
		Around then, I would qualify to study for and then sit for the CPA exam.<br>
		Cpa Requirements: <a href="https://nccpaboard.gov/cpa-exam-applicants/"
			target="_blank">[link]</a>
		I would need to work under a CPA to attain mine, necessitating the migration when eligible.<br>
		WTCC's Diploma and Associate's are optional for me.<br>
		The Computer Science ship has sailed and the market for that field is absolutely terrible.<br>
	</p>
	<div class="modal-grid">
		<ul>
			<li class="taken">No more than 6HRS of Accounting Principles</li>
			<li>No more than 3HRS of Business Law</li>
			<li>21HRS in other Accounting Courses</li>
		</ul>

		<ul>
			<li>1YR EXP under CPA in Public Accounting</li>
			<li>1YR EXP under CPA in General Accounting</li>
			<li>4YRS EXP in General Accounting or Teaching it</li>
		</ul>
	</div>

	<div class="acc-schedule-grid">
		<ul>SU2024<hr>
			<li class="taken">ACC 120</li>
		</ul>
		<ul>FA2024<hr>
			<li class="taken">ACC 121</li>
		</ul>
		<ul>SP2025<hr>
			<li class="taken">ACC 220</li>
		</ul>
		<ul>SU2025<hr>
			<li class="taken">BUS 110 日本中</li>
		</ul>
		<ul>FA2025<hr>
			<li class="taken">ACC 221</li>
		</ul>
		<ul>SP2026<hr>
			<li>Job Transition</li>
		</ul>
		<ul>SU2026<hr>
			<li>ACC 129</li>
		</ul>
		<ul>FA2026<hr>
			<li>ACC 269</li>
		</ul>
		<ul>SP2027<hr>
			<li>ACC 130</li>
			<li>ACC 150</li>
		</ul>
		<ul>SU2027<hr>
			<li>ACC 240</li>
			<li>CIS 110</li>
		</ul>
		<ul>FA2027<hr>
			<li>ACC 215</li>
			<li>ECO 251</li>
		</ul>
	</div>
	`;
        document.getElementById("modal-text").innerHTML = accountingModalData;
    }
    function dashboardModalAccess() {
        document.querySelectorAll(".modal-prompt").forEach(prompt => {
            prompt.onclick = function () {
                switch (prompt.id) {
                    case "accounting-modal":
                        displayAccountingModal();
                        modal.style.display = "block";
                        break;
                    default:
                        console.log("default");
                        break;
                }

            }

        });
        closeModal.onclick = function () {
            clearModal();
            modal.style.display = "none";
        };
        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
                clearModal();
            }
        }
    }
    function clearModal() {
        document.getElementById("modal-text").innerHTML = "";
        document.getElementById("modal-text").removeAttribute("class", "paycard-grid");

    }


    (() => {
        initCpaCredits();
        enableCpaProjection();
        displayCpaCredits();
        dashboardModalAccess();
        // displayAccountingModal();
        cpaModalAccess();
    })();

</script>