<div id="roles-handle" x-data=" {
	accountingRoles: [
	[
		'Accounting Clerk I', 
		42647.06,
	],
	[
		'Accounting Clerk II', 
		46700.00,
	],
	[
		'Accounting Technician I',
		47184.73,
	],
	[
		'Accounting Technician II',
		52162.02,
	],
	[
		'Accounting Technician III',
		58987.20,
	],
	[
		'Accounting Specialist',
		67030.33,
	],
	[
		'Correctional Training Specialist',
		58909.93,
	],
	[
		'Correctional Training Instructor',
		67214.14,
	],
	[
		'Accountant I',
		67670.60,
	],
	[
		'Accountant II',
		77797.50,
	],
	[
		'Accountant III',
		92173.33,
	],
	[
		'Accountant IV',
		99000.00,
	],
	[
		'Accounting Manager',
		103998.00,
	],
	[
		'Accounting Director I',
		128319.00,
	],
	[
		'Accounting Director II',
		159122.00,
	],
],
} ">
	<div>
		<h2 class="marker-green">Career Insight</h2>
		<hr class="hr-cmbr-dark-gradient">
	</div>
	<div id="career-table" class="flex-table">
		<h2 class="vt323">Accounting Roles</h2>
		<hr class="hr-groove-top">
		<div class="flex-table-header grid-col-1-1">
			<span>Role</span>
			<span>Average Salary</span>
		</div>
		<div class="flex-table-body">
			<template x-for="position in accountingRoles">
				
				<div :class="'flex-table-row grid-col-1-1'">
					<span :class="'flex-table-col-body'" x-text="position[0]"></span>
					<span :class="'flex-table-col-body'" x-text="'$ ' + position[1]"></span>
				</div>
			</template>
		</div>
		
	</div>
	<hr class="hr-groove-bottom">
</div>
<!-- :class="'flex-table-row'" :style="'display:contents'" -->