<div x-data="scuffler">

    <div :class="'flex-grid-cmbr'">

        <div :class="'grid-col-1-1'">
            <button :class="'trigger-box'" hx-get="../template/ranks.html" hx-target="#wksp-left" hx-swap="innerHTML"
                hx-trigger="click">Ranks</button>
            <button :class="'trigger-box'" hx-get="../template/progression.html" hx-target="#wksp-left"
                hx-swap="innerHTML" hx-trigger="click">Progression</button>
        </div>
        <div :class="'grid-col-1'">
            <hr :class="'hr-groove-top'">
            <h2 :class="'marker-green'" x-text="'Scuffler'"></h2>
            <div :class="'grid-col-1-1-1'">
                <h4 class="marker">Choose Player 1</h4>
                <hr class="glass-pane">
                <h4 class="marker">Choose Player 2</h4>
                <div x-text=" fighters[sel1].name " x-show=" undergoing "></div>
                <select x-model="sel1" x-show=" ! undergoing ">
                    <option :value="-1" disabled>Character 1</option>
                    <option :value="0" selected>Wolf 1</option>
                    <option :value="1">Wolf 2</option>
                    <option :value="2">Fox 1</option>
                    <option :value="3">Fox 2</option>
                </select>
                <hr class="glass-pane">
                <div x-text=" fighters[sel2].name " x-show=" undergoing "></div>
                <select name="playerTwoSelect" x-model="sel2" x-show=" ! undergoing ">
                    <option :value="-1" disabled>Character 2</option>
                    <option :value="2" selected>Fox 1</option>
                    <option :value="3">Fox 2</option>
                    <option :value="0">Wolf 1</option>
                    <option :value="1">Wolf 2</option>
                </select>
            </div>
            <hr :class="'hr-cmbr-dark-gradient'">
            <hr :class="'hr-push-down'">

            <div :class="'grid-col-1-3-1'">

                <div id="fighter-1-stats" class="grid-col-1">
                    <div id="fighter-1-vitality" x-show="undergoing">

                        <div :class="'cmbr-flash-read'" x-show=" undergoing " x-transition.duration.100ms>
                            <span x-text=" damageReceived " x-show=" attackPhase "></span>
                        </div>
                        <div :class="'scuffler-health'">
                            <span id="fighter-1-health"><span id="fighter-1-health-loss"><span :class="'marker'"
                                        x-text=" playerOneHealth " x-show=" undergoing "></span></span></span>
                        </div>
                    </div>
                    <h4>Character #<span x-text=" (parseInt(sel1) + 1) "></span></h4>
                    <h4><i x-text=" fighters[sel1].name "></i></h4>
                    <h4>Rank: <span x-text=" fighters[sel1].rank "></span></h4>
                    <img x-ref="playerOneHeadshot" :class="'scuffler-headshot'" :src=" setFighterPhoto(sel1) "></img>
                    <h4>Attack: <span x-text=" fighters[sel1].attack "></span></h4>
                    <h4>Defense: <span x-text=" fighters[sel1].defense "></span></h4>
                    <h4>Dexterity: <span x-text=" fighters[sel1].dexterity "></span></h4>
                    <h4>Health: <span x-ref=" health " x-text=" fighters[sel1].vitality "></span></h4>
                    <h4>Experience: <span x-text=" fighters[sel1].experience "></span></h4>
                </div>

                <!-- ∆ PLAY FIELD % -->
                <div id="fighter-play-field"
                    x-effect="playerOneHealth = vitalities[sel1]; playerTwoHealth = vitalities[sel2];">

                    <div class="marker">

                        <button :class="'trigger-box'" x-text="'Begin Match'" x-show="! undergoing" @click=" 
                            undergoing = ! undergoing;
                            vitalities[sel1] = initScufflerHealthBars(sel1);
                            vitalities[sel2] = initScufflerHealthBars(sel2);
                            ">
                        </button>
                        <h2 :class="'marker-green'" x-show="undergoing">Match in Progress!</h2>
                        <hr :class="'hr-cmbr-gradient'">
                        <!-- |=====| STRIKE! |=====| -->
                        <button :class="'trigger-box'" x-text="'Strike'" x-show="undergoing" @click="
                            attackPhase = true;
                            setTimeout(() => {
                                damageDealt = fighters[sel1].attack; // configure defense, dex etc.
                                playerTwoHealth -= damageDealt;
                                damageReceived = fighters[sel2].attack; // configure defense, dex etc.
                                playerOneHealth -= damageReceived;
                                attackPhase = false;
                                vitalityCheck();
                            }, 500);
                        "></button>

                    </div>

                </div>

                <div id="fighter-2-stats" class="grid-col-1">
                    <div id="fighter-2-vitality" x-show="undergoing">
                        <div :class="'cmbr-flash-read'" x-show=" undergoing ">
                            <span x-text=" damageDealt " x-show=" attackPhase " x-transition.duration.500ms></span>
                        </div>
                        <div :class="'scuffler-health'">
                            <span id="fighter-2-health"><span id="fighter-2-health-loss"><span :class="'marker'"
                                        x-text=" playerTwoHealth " x-show=" undergoing "></span></span></span>
                        </div>
                    </div>
                    <h4>Character #<span x-text=" (parseInt(sel2) + 1) "></span></h4>
                    <h4><i x-text=" fighters[sel2].name "></i></h4>
                    <h4>Rank: <span x-text=" fighters[sel2].rank "></span></h4>
                    <img x-ref="playerTwoHeadshot" :class="'scuffler-headshot'" :src=" setFighterPhoto(sel2) "></img>
                    <h4>Attack: <span x-text=" fighters[sel2].attack "></span></h4>
                    <h4>Defense: <span x-text=" fighters[sel2].defense "></span></h4>
                    <h4>Dexterity: <span x-text=" fighters[sel2].dexterity "></span></h4>
                    <h4>Health: <span x-ref=" health2 " x-text=" fighters[sel2].vitality "></span></h4>
                    <h4>Experience: <span x-text=" fighters[sel2].experience "></span></h4>
                </div>
            </div>
            <div class="vt323" x-data="{ gamenotes: 'Gamenotes'}">
                <hr :class="'hr-groove-bottom'">
                <h5></h5>
                <input type="text" placeholder="gamenotes" x-model="gamenotes" />
            </div>
        </div>

    </div>