<div id="songs-handle" x-data="{
	url: '../template/songs.html',
	parameters: new URLSearchParams(),
	
	songs: [
		{ name: 'Bohemian Rhapsody', artist: 'Queen' },
		{ name: 'Imagine', artist: 'John Lennon' },
		{ name: 'Hotel California', artist: 'Eagles' },
	],
}">

	<ul id="songs">
		<li>asdf</li>
		<li>qwer</li>
		<li>zxc</li>
		<li>cvb</li>
		<li>dfgh</li>
		<li>rtyu</li>


		<!-- <template x-for="song in songs">
			<li>
				<span x-text="song.name"></span> by <span x-text="song.artist"></span>
			</li>
		</template> -->
	</ul>

</div>