<div id="folders-handle" x-data="{
	folderData: {},
	imageRequest: {
		uploads: '/images/uploads/',
		travel: '/assets/travel-photos/',
		artifacts: '/assets/artifacts/',
		officers: '/assets/segregation-officers/',
		residents: '/assets/segregation-residents/'
	}
	 }">

	<button class="trigger-box" @click="folderData = await $get('/api/media/travel-photos')">
		Show Travel Photos
	</button>

	<!-- <button class="trigger-box" hx-get="/api/media/travel-photos" hx-target="#workspace-console" hx-swap="innerHTML"
		hx-trigger="click">
		Show Travel Photos
	</button> -->

	<div class="cmbr-pen flex-table" hx-get="/api/media/travel-photos" hx-target="#workspace-console" hx-trigger="load"
		hx-swap="innerHTML" x-effect="JSON.stringify(folderData, null, 2)">
		<template x-for="(item, index) in folderData" :key="index">
			<div :class="'flex-table-row grid-col-1-1'">
				<span x-html="index + 1"></span>
				<figure>
					<img :src="'/assets/travel-photos/' + item" width="50" height="50" />
					<figcaption>
						<a :href="'/assets/travel-photos/' + item" x-text="'/assets/travel-photos/' + item"></a>
					</figcaption>
				</figure>
			</div>
		</template>
	</div>




</div>