<div id="header-and-return">
	<div id="return">
		<a class="marker" href="../index.html">Return</a>
	</div>
	<div id="quick-links">

		<div class="quick-links-grid-item">
			<a href="https://maps.google.com" target="_blank">Google Maps</a>
		</div>

		<div class="quick-links-grid-item" id="division-visitation">
			<div id="political-division"></div>
			<div id="visited-total"></div>
		</div>

		<div class="quick-links-grid-item">
			<span id="map-symbol">🌏</span>
		</div>

		<div class="modal">
			<div id="modal-field">
				<span class="close-modal">&times;</span><br>
				<span id="modal-title"></span>
				<hr class="modal-line">
				<p id="modal-text"></p>
			</div>
		</div>

	</div>
	<div class="page-dropdown">
		<button class="map-display-buttons" value="world-map">World</button>
		<button class="map-display-buttons" value="us-map">US</button>
		<!-- <button class="map-display-buttons" value="expansive-map">Expansive Map</button> -->
		<button class="map-highlight-buttons" value="to-visit">To Consider Visiting</button>
		<button class="map-highlight-buttons" value="to-retire">To Consider Retirement</button>
	</div>

</div>