/*	METADATA	*/
body {
	font-family: Lora, Avenir, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image: url(../assets/interlaced.png);
	background-color: #f6f6f6;
	background-blend-mode: multiply;
}

a {
	color: inherit;
	text-align: left;
	text-decoration: solid;
	outline: 0;
	cursor: pointer;
}

a:hover {
	color:red;
}

.marker {
	color: #db8044;
	font-size: 1em;
	font-family: Permanent Marker, serif;
}

#billcalculatortitle {
	font-family: Permanent Marker, sans-serif;
	font-style: normal;
	font-weight: 1300;
	font-size: 3em;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	text-align: center;
}

#all-containers {
	text-align: center;
}

#notes-header {
	list-style-type: none;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
}

#notes-list {
	list-style-type: square;
	text-align: left;
	margin-right: 25%;
	margin-left: 35%;
	padding: 10px;
}

#p2p {
	background-color: lightcyan;
	color: red;
	font-weight: 900;
}

#balance {
	margin-left: 24px;
}

#balance-container {
	background-color:#f6f3ed;
	margin-right: 35%;
	margin-left: 35%;
	padding: 10px;
}

#balance-list {
	text-align: left;
}

.automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: greenyellow;
}

.her-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: mistyrose;
	color: purple;
}

.non-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	color: red;
}

.her-non-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: mistyrose;
	color: red;
}

.not-applicable {
	color: grey;
	opacity: 0.3;
	user-select: none;
}

#inp-cost {
	margin-left: 10px;
}