*.yaml
*.key
*.pem
*.srl
*.crt
*.cnf
.shelf
.vscode

node_modules/
package.json
package-lock.json
*.json
!cmbr.json

images/cmbr-sig-play.htm

template.html
template.js

administration/
.administration/
generate-docs.js
cmbr-shell.html
cmbr-shell.js
server.js
