*.yaml
*.key
*.pem
*.srl
*.crt
*.cnf
.shelf
.vscode
.pineconeref.ts


node_modules/
*.json
!package.json
!package-lock.json
!cmbr.json

runner.sh
runner.yaml

images/cmbr-sig-play.htm

administration/
.administration/
