<div id="nav-handle" x-data="{ 
    atIndex: CMBRutil.atSiteIndex(),
    sectionsHandle: CMBRutil.staticLinkTransform('sections.html'),
    // navLoaded: Alpine.store('nauth').valid,
    }" x-bg>

    <template x-if=" !atIndex">
        <div class="nav-sail">
            <!-----| NAV 1 |----->
            <div id="nav-1" x-data="{ active: 0 }">

                <div x-data="{
                            id: 1,
                            get expanded() {
                                return this.active === this.id
                            },
                            set expanded(value) {
                                this.active = value ? this.id : null
                            },
                            }" role="region">
                    <button id="chart-access" type="button" @click="expanded = !expanded" x-bind:hx-get="sectionsHandle"
                        hx-target="#chart-links" hx-trigger="load" hx-swap="innerHTML">
                        <div class="trigger-dropdown">
                            <span x-show="expanded" x-cloak>&UpArrow;</span>
                            <span x-show="!expanded" x-cloak>&DownArrow;</span>
                            <span>Options</span>
                            <span x-show="expanded" x-cloak>&UpArrow;</span>
                            <span x-show="!expanded" x-cloak>&DownArrow;</span>
                        </div>
                    </button>
                    <div id="chart-dropdown" x-show="expanded" x-collapse>
                        <div id="chart-links">
                            <template x-show="expanded">

                            </template>
                        </div>
                    </div>
                </div>

            </div>

            <!-----| NAV 2 |----->
            <!-- // x-init=" $watch(() => this.$refs.nav-auth, value =>  navLoaded = value)  -->
            <div id="nav-2" x-data="{
                navLoaded: null,
            }">
                <h1 id=" reactivate" class="h1-lamp" hx-get='/api/auth/reactivate' hx-trigger="load delay:1s"
                    hx-indicator="" hx-target="#nav-auth-status" hx-swap="textContent">
                </h1>
                <div>
                    <p x-ref="nav-auth" id="nav-auth-status" :class="'vt323'" :style="'color:green;'" x-transition></p>
                </div>
                <!-- ♪ -->
                </h1>
            </div>

            <!-----| NAV 3 |----->
            <div id="nav-3">
                <h1 class="h1-lamp">
                    <span id="current-section"></span>
                </h1>
            </div>

            <!-----| NAV 4 |----->
            <div id="nav-4">
                <h1 class="h1-lamp">
                    <!-- ♫ -->
                </h1>
                <div class="modal" x-data="{
                    modalLoaded: null,
                    }" x-init=" $watch(() => this.$refs, value => modalLoaded = value) ">
                    <span class="modal-close"></span>
                    <div class="modal-grid">
                        <div class="modal-field">
                            <p x-ref="nav-modal" id="modal-text"></p>

                        </div>
                        <hr class="modal-line">
                    </div>
                </div>
            </div>

            <!-----| NAV 5 |----->
            <div id="nav-5" x-data="{
                setting: 'dark',
                getSetting: function(value) {
                    return this.setting === value;
                },
                toggleMode: function (value){
                    this.setting = value;
                    document.body.dataset.theme = this.setting;
                },
                }" x-init="$watch('setting', value => console.info(setting + ' mode active.'))">
                <span id="dark" class="data-theme-button"
                    :style="getSetting($el.id) ? 'color:initial' : 'color:transparent'"
                    @click="toggleMode($el.id)">🌙</span>
                <span id="light" class="data-theme-button"
                    :style="getSetting($el.id) ? 'color:initial' : 'color:transparent'"
                    @click="toggleMode($el.id)">☀️</span>
                <span id="legacy" class="data-theme-button"
                    :style="getSetting($el.id) ? 'color:initial' : 'color:transparent'"
                    @click="toggleMode($el.id)">🪻</span>
            </div>

        </div>

        <div class="nav-hoist">
            <hr class="hr-nav-pad">
            <hr class="hr-blass">
            <hr class="hr-cmbr-gradient">
            <hr id="nav-anchor" class="hr-groove-top">
        </div>
    </template>
</div>