/* HEADING ASSETS */

:root {
	--clr-secondary-400: 217 19% 35%;
}

.home-image {
	width: 25%;
	min-width: 300px;
	height: 25%;
	min-height: 300px;
	margin-bottom: -180px;
	margin-top: -45px;
	margin-left: 30px;
	user-select: none;
}

.heading-container {
	/* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('assets/image-visas.png'); */
	background-size: cover;
}

.site-info {
	margin-top: -2%;
	background-color: #f6f3ed;
}

#camberden {
	font-family: Permanent Marker, sans-serif;
	font-style: normal;
	font-size: 500%;
	text-align: center;
	font-weight: 950;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	text-shadow: -5px -2px 0px rgb(112, 12, 170);
}

/* ASSETS IN THE BODY */

body {
	color: black;
	font-family: Lora, Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	z-index: 1;
	background-image: url('assets/image-curtain.svg'); /* #EEEFF0 in SVG Fill */
	background-color: #F4F5F6;
}

.index-grid {
	display: grid;
	gap: .5rem;
	grid-template-columns: repeat(1, 100%); /* repeat(4, 25%) */
	/* padding-block: 1rem; */
	width: min(60%, 70rem);
	margin-inline: auto;
}

.index-item {
	/* padding: 1rem; */
	box-shadow: 3rem 3rem 2rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	/* box-shadow: 2rem -1rem #a1dbf8; */
	/* background: #f6f3ed; */
}

.index-item > .section-title {
	color: black;
	font-size: 3rem;
	cursor: pointer;

	/* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25); */
	background-color: rgba(0, 0, 0, 0.1);

	background-image: linear-gradient(120deg, 0%,  100%);
	background-repeat: no-repeat;
	background-size: 25% 0.1em;
	background-position: 0 88%;
	transition: background-size 0.3s ease-in;
}

.section-title:hover {
	color: rgb(112, 12, 170);
	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}

button {
	user-select: none;
}

.marker {
	color: #db8044;
	font-family: Permanent Marker, serif;
}

#return {
	font-size: 1em;
	text-align: left;
}

#return a:hover {
	color: red;
}

p {
	color: inherit;
}

a {
	color: #f59b60;
	font-style: normal;
	text-decoration: solid;
	outline: 0;
	cursor: pointer;

	background-image: linear-gradient(120deg, 0%,  100%);
	background-repeat: no-repeat;
	background-size: 25% 0.1em;
	background-position: 0 88%;
	transition: background-size 0.1s ease-in;
}

a:hover {
	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}

/* FOR SOMETHING TO HIGHLIGHT IN VIEWPORT: PENDING USE CASE */
.text-flourish {
	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}

@keyframes mymove {
	from {background-position: 0 0;}
	to {background-position: 100% 0;}
}

footer {
	background-color: black;
	background-position: inherit;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url('assets/image-camberden-signature-small-favicon.ico');
	animation: mymove 30s linear infinite;
}