/* NORMALIZATION & ROOT VARIABLES */
/* * { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;vertical-align: baseline; } */

:root {

	--clr-primary: #a1dbf8;
	--clr-secondary: #f59b60;
	--clr-tertiary: #8acb88;
	--clr-quaternary: #9A031E;
	--clr-quinary-body: #27233A;

	--clr-gradient-common: 120deg, #f59b60 0%, #a1dbf8 100%;
	--clr-grid-box: #90e5ee1a;

	--cmbr-indigo: #000caa;
	--cmbr-blue: #a1dbf8;
	--cmbr-orange: #f59b60;
	--cmbr-violet: #700caa;
	--cmbr-green: #8acb88;
	--cmbr-degrees: 120deg;

	--cmbr-dark-grey: #0a070f;
	--cmbr-dark-ash: #182124;
	--cmbr-dark-iron: #1f312e;
	--cmbr-dark-steel: #0b313d;

	--cmbr-curtain-plum: #292540;

	--cmbr-legacy-gradient: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
	--cmbr-gradient: linear-gradient(var(--cmbr-degrees), var(--cmbr-indigo),var(--cmbr-blue),var(--cmbr-orange),var(--cmbr-violet));	
	--cmbr-dark-gradient: linear-gradient(var(--cmbr-degrees), var(--cmbr-dark-grey),var(--cmbr-dark-ash),var(--cmbr-dark-iron),var(--cmbr-dark-steel));

	

}

/* ----- NAVIGATION STYLES ----- */

nav {
	display: flex;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 200;
	background-image: url('assets/image-curtain.svg'); 
}

.inline-signature {
	display: flex;
	flex: 1;
	z-index: 100;
	box-sizing: border-box;
	position: fixed;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	opacity: 70%;
	background-image: url("./assets/image-camberden-signature-6.svg");
	background-repeat: no-repeat;
	transform: rotate(30deg);
}

.nav-col-grid {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
}

.nav-row-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

#nav-info {
	display: flex;
	margin-top: 1.5rem;
	font-size: 1.5rem;
}

#dropdowns {
	width: 100%;
	height: 2rem;
	z-index: 200;
	border-bottom: 0.5rem groove black;
}

.section-title {
	box-sizing: border-box;
	font-size: 1rem;
	cursor: pointer;
	background-image: transparent;

	background-size: 100% 5%;
	background-position: 0 88%;
	background-repeat: no-repeat;

	border-bottom: 0.1rem solid var(--clr-tertiary);
	border-left: 0.5rem solid var(--clr-grid-box);
	border-right: 0.5rem solid var(--clr-grid-box);
	
}

.section-highlight {
	color: var(--clr-secondary);
	background-image: var(--cmbr-gradient); /* FORMERLY CLR-GRADIENT-COMMON */
	background-size: 100% 5%;
	transition: background-size 0.3s ease-in;
}

.section-lose-highlight {
	background-image: linear-gradient(var(--clr-gradient-common));
	background-size: 0% 5%;
	animation-name: sectionsizer;
	animation-play-state: running;
	animation-duration: 1s;
	animation-direction: normal;
	animation-iteration-count: 1;
}

.sections-opened::after {
	content:attr(item) " ↓";
}

#sections-dropdown {
	border: 0.5rem groove black;
	padding: 0.2rem;
	left: 0;
	width: fit-content;
	height: fit-content;
	text-align: start;
	position: fixed;
	z-index: 200;
	background-color: black;
}

#sections-access {
	font-family: "VT323", monospace;
	width: 100%;
	height: 1rem;
	right: 0;
}

#sections-access:hover {
	cursor: pointer;
	background-color: var(--cmbr-curtain-plum);
	color: var(--cmbr-green);
}

#current-site {
	display: inline-flex;
	position: fixed;
	left: 20%;
	justify-content: center;
	/* margin-top: 0.5rem; */

	color: var(--cmbr-dark-grey)
}

#current-section {
	display: inline-flex;
	position: fixed;
	right: 20%;
	justify-content: center;
	/* margin-top: 0.5rem; */
	color: var(--cmbr-dark-grey)

}

#current-section::before {
	content:attr(item) "→";	

}

@keyframes sectionsizer { 
	from {
		background-size: 100% 10%;
		background-position: 0% 100%;
	}
	to {
		background-size: 0% 0%;
		background-position: 100% 100%;
	}
}

#bookmarks-dropdown {
	border: 0.5rem groove black;
	padding: 0.2rem;
	right: 0;
	width: fit-content;
	height: fit-content;
	text-align: start;
	position: fixed;
	z-index: 200;
	background-color: black;
}

#bookmarks-access {
	font-family: "VT323", monospace;
	text-align: center;
	width: 100%;
	height: 1rem;
	right: 0;
	color: var(--cmbr-blue);
}

#bookmarks-access:hover {
	cursor: pointer;
	background-color: var(--cmbr-curtain-plum);
	color: var(--cmbr-green);
}

.bookmarks-opened::before {
	content:attr(item) "↓ ";
}

.bookmarks-opened:first-child {
	text-align: right;
}


/* ----- HORIZONTAL RULES ----- */

.hr-cmbr-dark-gradient {
	background-image: var(--cmbr-dark-gradient);
	width: 100%;
	height: 0.5rem;
}
.hr-groove-top {
	border-top: 0.5rem groove black;
}
.hr-groove-bottom {
	border-bottom: 0.5rem groove black;
	width: 100%;
	box-shadow:  1rem 1rem 2rem rgb(25, 23, 144), 0rem 0rem 2rem rgb(221, 122, 94);
	margin-bottom: 3rem;
}
.hr-cmbr-gradient {
	background-image: var(--cmbr-gradient);
	width: 100%;
	height: 0.5rem;
	opacity: 50%;
}
.hr-cmbr-gradient:nth-of-type(odd) {
		-webkit-transform: scaleX(-1);
  		transform: scaleX(-1);
}
.hr-nav-pad {
	padding-bottom: 3rem;
}

/* ----- SITE-WIDE BUTTON STYLES ----- */

button {
	cursor: pointer;
	user-select: none;
	font-family: Permanent Marker, serif;
	box-sizing: border-box;
	background: linear-gradient(var(--clr-gradient-common));
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1rem;
	border-right-color: grey;
	border-right-style: groove;
}

.button-highlight {
	cursor: pointer;
	position: relative;
	color: var(--clr-quaternary);
	background: var(--clr-tertiary);
}

.button-depressed {

	position: static;
	color: var(--clr-secondary);
	background: var(--clr-quaternary-body);
	border-top-width: 0.3rem;
	margin-top: 0.3rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.3rem;
	margin-left: 0.3rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 0.7rem;
	margin-bottom: 0.3rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 0.7rem;
	margin-right: 0.3rem;
	border-right-color: grey;
	border-right-style: groove;
}

/* ----- INDEX-SPECIFIC STYLES ----- */

.signature-div {
	text-align: left;
}

#signature {
	position: absolute;
	width: 6rem;
	min-height: 5rem;
	user-select: none;
	animation-name: stagger-signature;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes stagger-signature {
	0% {
		width: 6rem;
	}
	50% {
		width: 7rem;
		rotate: 5deg;
	}
	100% {
		width: 6rem;
	}
}

#camberden {
	font-family: Permanent Marker, sans-serif;
	font-size: 4rem;
	background: var(--cmbr-gradient);
	background-image: linear-gradient(
		to bottom right,
		var(--doi-red),
		var(--doi-yellow)
	);
	background: linear-gradient(var(--clr-gradient-common));
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	text-shadow: -5px -2px 0px #700caa;
	animation-name: change-text-shadow;
  	animation-duration: 5s;
  	animation-iteration-count: infinite;
}

@keyframes change-text-shadow {
	40% {
		text-shadow: -5px -2px 0px rgb(81, 12, 170);
	}
	80% {
		text-shadow: -5px -2px 0px rgb(133, 12, 170);
	}
	100% {
		text-shadow: -5px -2px 0px rgb(112, 12, 170);
	}
}

#splash-image {
	z-index: -1;
	padding-bottom: 5rem;
	background-image: url("assets/image-visas.png");
	background-size: contain;
	height: 100%;
	opacity: 75%;
	box-shadow: 3rem 3rem 2rem -3rem hsl(var(--cmbr-blue) / 0.25);
}

.index-grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(1, 100%); /* repeat(4, 25%) */
	width: min(60%, 70rem);
	margin-inline: auto;
}

.footer {
	background-color: black;
	background-position: inherit;
	border-bottom: 1rem solid var(--clr-grid-box);
	border-right: 0.5rem solid var(--clr-grid-box);

	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url('assets/image-camberden-signature-small-favicon.ico');
	animation: small-signature-movement 30s linear infinite;
}

@keyframes small-signature-movement {
	from {background-position: 0 0;}
	to {background-position: 100% 0;}
}

#japanese-date {
	font-size: .75rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bolder;
}

/* ----- SITE-WIDE CUSTOM FONT DATA ----- */

@font-face {
	font-family: eremoran-kiptascript;
	src: url("assets/font-eremoran-kiptascript.otf") format("opentype");
}
.eremoran-kiptascript {
	font-family: eremoran-kiptascript;
	font-size: 4rem;
}

/* ----- SITE-WIDE GENERAL STYLE COMPONENT ----- */

body {
	color: var(--cmbr-blue);
	font-family: Lora, Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	background-image: url('assets/image-curtain.svg'); 
	/* #EEEFF0 in SVG Fill */
	background-color: var(--clr-quinary-body);
}

a {
	text-decoration: solid;
	outline: 0;
	cursor: pointer;

	color: var(--cmbr-orange);
	background-image: linear-gradient(120deg, 0%,  100%);
	background-repeat: no-repeat;
	background-size: 25% 0.1em;
	background-position: 0 88%;
	transition: background-size 0.1s ease-in;
}

a:hover {
	color: var(--clr-green);
	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}

p {
	color: inherit;
}

.common-background {
	background-color: #90e5ee1a;
}

.marker {
	color: var(--cmbr-orange);
	font-family: Permanent Marker, sans-serif;
}

.hr-custom {
	width: 5rem;
	height: 0.1rem;
	background-color: var(--clr-secondary);
}

.load-padding-transition {
	padding: 0.2rem;
	transition: padding 0.3s ease-in;
}

/* --- HEADER AND GRID --- */

#header-and-return {
	padding: 2rem;
}

#return {
	display: flex;
	font-size: 1em;
	text-align: left;
	flex: 0.1rem;
	align-items: left;
	justify-content: left;
}

#return a:hover {
	color: var(--cmbr-green);
}

#page-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem var(--cmbr-curtain-plum);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

.page-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	/* grid-template-columns: repeat(3, 33%); */
	border-radius: 1rem;
	gap: 1rem;
}

.page-item {
	flex: 1; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: auto;
	justify-content: center;

	/* box-sizing: border-box; */
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.quick-links-grid-item:first-child {
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
}

.quick-links-grid-item {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.quick-links-buttons:first-child {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
}

.quick-links-buttons {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.page-dropdown {
	background-color: var(--clr-quinary-body);
	border: 1px solid #888;
	width: fit-content; /* Could be more or less, depending on screen size */
}

/* ----- MEDIA QUERIES ---- */


@media screen and (max-width: 500px) {
	body {
		background-image: none; 
	}

	#camberden {
		font-size: 3rem;
	}
	#signature {
		position: absolute;
		width: 5rem;
		min-height: 4rem;
		user-select: none;
		animation: none;
	}
	.eremoran-kiptascript {
		font-family: eremoran-kiptascript;
		font-size: 3rem;
	}
	.index-grid {
		display: grid;
		gap: 0.3rem;
		grid-template-columns: repeat(1, 100%);
		/* repeat(4, 25%) */
		width: min(100%, 70rem);
		margin-inline: auto;
	}
}