@charset "UTF-8";
@starting-style {
	* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
}
@namespace url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

:root {

	--clr-primary: #a1dbf8;
	--clr-secondary: #f59b60;
	--clr-tertiary: #8acb88;
	--clr-quaternary: #9A031E;
	--clr-quinary-body: #27233A;

	--clr-gradient-common: 120deg, #f59b60 0%, #a1dbf8 100%;
	--clr-grid-box: #90e5ee1a;

	--cmbr-indigo: #000caa;
	--cmbr-blue: #a1dbf8;
	--cmbr-orange: #f59b60;
	--cmbr-violet: #700caa;
	--cmbr-green: #8acb88;
	--cmbr-degrees: 120deg;

	--cmbr-dark-grey: #0a070f;
	--cmbr-dark-ash: #182124;
	--cmbr-dark-iron: #1f312e;
	--cmbr-dark-steel: #0b313d;

	--cmbr-curtain-plum: #292540;

	--cmbr-legacy-gradient: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
	--cmbr-gradient: linear-gradient(var(--cmbr-degrees), var(--cmbr-indigo),var(--cmbr-blue),var(--cmbr-orange),var(--cmbr-violet));	
	--cmbr-dark-gradient: linear-gradient(var(--cmbr-degrees), var(--cmbr-dark-grey),var(--cmbr-dark-ash),var(--cmbr-dark-iron),var(--cmbr-dark-steel));

	

}

/* ----- NAVIGATION STYLES ----- */

nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

}

.inline-signature {
	display: inline-flex;
	flex: 1;
	z-index: 200;
	box-sizing: border-box;
	left: 50%;
	right: 50%;
	position: fixed;

	width: 3rem;
	height: 3rem;
	background-image: url("./images/cmbr-sig.svg");
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(30deg);
}

#inline-signature-div {
	display: inline-flex;
	box-sizing: border-box;
	position: fixed;
	flex: 1;
	top: 0;
	z-index: 100;
	left: 45%;
	right: 55%;
	width: 10rem;
	height: 3rem;
	border: 0.5rem groove black;
	background-color: blaack;

}

.nav-col-grid {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	
	
}

.nav-row-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	background-image: url('assets/image-curtain.svg'); 

}

#nav-info {
	display: flex;
	/* margin-top: 1.5rem;
	font-size: 1.5rem; */
}

#dropdowns {
	width: 100%;
	height: 2rem;
	z-index: 300;
	border-bottom: 0.5rem groove black;
}

.section-title {
	box-sizing: border-box;
	font-size: 1rem;
	cursor: pointer;
	background-image: transparent;

	background-size: 100% 5%;
	background-position: 0 88%;
	background-repeat: no-repeat;

	border-bottom: 0.1rem solid var(--cmbr-green);
	border-left: 0.5rem solid var(--clr-grid-box);
	border-right: 0.5rem solid var(--clr-grid-box);
	
}

.section-highlight {
	color: var(--cmbr-orange);
	background-image: var(--cmbr-gradient); /* FORMERLY CLR-GRADIENT-COMMON */
	background-size: 100% 5%;
	transition: background-size 0.3s ease-in;
}

.section-lose-highlight {
	background-image: linear-gradient(var(--clr-gradient-common));
	background-size: 0% 5%;
	animation-name: sectionsizer;
	animation-play-state: running;
	animation-duration: 1s;
	animation-direction: normal;
	animation-iteration-count: 1;
}

.sections-opened {
	text-align: left;
	left: 0;
	padding-bottom: 0.5rem;
}

.sections-opened::after {
	content:attr(item) " ↓";
}

#sections-dropdown {
	font-family: inherit;
	font-size: 1rem;
	border: 0.5rem groove black;
	padding: 0.2rem;
	left: 0;
	width: fit-content;
	height: fit-content;
	text-align: start;
	position: fixed;
	z-index: 300;
	background-color: black;
}

#sections-access {
	font-family: "VT323", monospace;
	width: 100%;
	height: 1rem;
	right: 0;
	color: var(--cmbr-blue);
}

#sections-access:hover {
	cursor: pointer;
	background-color: var(--cmbr-curtain-plum);
	color: var(--cmbr-green);
}

#current-site {
	font-family: "PermanentMarker" monospace;
	display: inline-flex;
	position: fixed;
	left: 20%;
}

#current-section {
	font-family: "PermanentMarker" monospace;
	display: inline-flex;
	position: fixed;
	right: 20%;
	justify-content: center;

}

#current-section::before {
	content:attr(item) "→";	

}

@keyframes sectionsizer { 
	from {
		background-size: 100% 10%;
		background-position: 0% 100%;
	}
	to {
		background-size: 0% 0%;
		background-position: 100% 100%;
	}
}

#bookmarks-dropdown {
	border: 0.5rem groove black;
	padding: 0.2rem;
	right: 0;
	width: fit-content;
	height: fit-content;
	text-align: start;
	position: fixed;
	z-index: 200;
	background-color: black;
}

#bookmarks-access {
	font-family: "VT323", monospace;
	text-align: center;
	width: 100%;
	height: 1rem;
	right: 0;
	color: var(--cmbr-blue);
}

#bookmarks-access:hover {
	cursor: pointer;
	background-color: var(--cmbr-curtain-plum);
	color: var(--cmbr-green);
}

.bookmarks-opened::before {
	content:attr(item) "↓ ";
}

.bookmarks-opened:first-child {
	text-align: right;
	right: 0;
	padding-bottom: 0.5rem;
}


/* ----- HORIZONTAL RULES ----- */

.hr-cmbr-dark-gradient {
	background-image: var(--cmbr-dark-gradient);
	width: 100%;
	height: 0.5rem;
}
.hr-groove-top {
	border-top: 0.5rem groove black;
}
.hr-groove-bottom {
	border-bottom: 0.5rem groove black;
	width: 100%;
	box-shadow:  1rem 1rem 2rem rgb(25, 23, 144), 0rem 0rem 2rem rgb(221, 122, 94);
	margin-bottom: 3rem;
}
.hr-cmbr-gradient {
	background-image: var(--cmbr-gradient);
	width: 100%;
	height: 0.5rem;
	opacity: 50%;
}
.hr-cmbr-gradient:nth-of-type(odd) {
		-webkit-transform: scaleX(-1);
  		transform: scaleX(-1);
}
.hr-nav-pad {
	color: transparent;
	border-color: transparent;
	padding-bottom: 3rem;
}

/* ----- SITE-WIDE BUTTON STYLES ----- */

button {
	cursor: pointer;
	user-select: none;
	font-family: PermanentMarker, serif;
	box-sizing: border-box;
	background: var(--cmbr-gradient);
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1rem;
	border-right-color: grey;
	border-right-style: groove;
}
.button-highlight {
	cursor: pointer;
	position: relative;
	color: var(--clr-quaternary);
	background: var(--cmbr-green);
}
.button-depressed {

	position: static;
	color: var(--clr-secondary);
	background: var(--clr-quaternary-body);
	border-top-width: 0.3rem;
	margin-top: 0.3rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.3rem;
	margin-left: 0.3rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 0.7rem;
	margin-bottom: 0.3rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 0.7rem;
	margin-right: 0.3rem;
	border-right-color: grey;
	border-right-style: groove;
}

/* ----- INDEX-SPECIFIC STYLES ----- */

.signature-div {
	text-align: left;
	z-index: 10;
}

#signature {
	position: absolute;
	margin-top: 2rem;
	margin-left: 3rem;
	width: 6rem;
	min-height: 5rem;
	user-select: none;

	/* border-bottom: 0.1rem solid var(--clr-grid-box);
	border-left: 0.1rem solid var(--clr-grid-box);
	border-right: 0.2rem solid var(--clr-grid-box);
	box-shadow: -0.2rem -0.1rem 0.3rem rgb(12, 11, 71) inset; */
	animation-name: stagger-signature;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}
@keyframes stagger-signature {
	0% {
		width: 6rem;
	}
	50% {
		width: 7rem;
		rotate: 5deg;
	}
	100% {
		width: 6rem;
	}
}

#title-container {
	flex: 1;
	align-self: center;
	max-width: 100%;
	height: fit-content;
	position: relative;
	box-sizing: border-box;

	border-top: 0.1rem solid var(--clr-grid-box);
	border-bottom: 0.5rem solid var(--clr-grid-box);
	border-left: 0.1rem solid var(--clr-grid-box);
	border-right: 0.5rem solid var(--clr-grid-box);

	width: 100%;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	margin-bottom: 3rem;

	animation-name: change-box-shadow;
  	animation-duration: 8s;
  	animation-iteration-count: infinite;

}
@keyframes change-box-shadow {

	30% {
		box-shadow: -0.1rem -0.2rem 1rem rgb(22, 33, 155);
	}
	50% {
		box-shadow: -0.2rem -0.1rem 1rem rgb(25, 23, 144);
	}
	80% {
		box-shadow: -0.1rem -0.2rem 1rem rgb(9, 32, 76);
	}
	100% {
		box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	}
}

#camberden {
	font-family: "PermanentMarker", sans-serif;
	font-size: 60px;
	background: var(--cmbr-gradient);
	/* outline: 0.5rem dotted red; */
	/* border: 0.5rem dotted transparent; */
	/* border-top: 0.1rem solid var(--clr-grid-box); */
	border-bottom: 0.3rem solid var(--clr-grid-box);
	border-left: 0.1rem solid var(--clr-grid-box);
	/* border-right: 0.5rem solid var(--clr-grid-box); */

	background-clip: border-box;
	-webkit-background-clip: text;
	background-repeat: no-repeat;
	color: transparent;
	user-select: none;
	/* text-shadow: -2rem -2rem 3rem var(--cmbr-curtain-plum); */
	/* text-shadow: 12rem red; */
	animation-name: cmbr-sectionsizer;
  	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
  	animation-iteration-count: infinite;
}
@keyframes change-text-shadow {
	0% {
		text-shadow: -2rem -2rem 3rem var(--cmbr-curtain-plum);;
	}
	5% {
		text-shadow: -1rem -1rem 2rem rgb(81, 12, 170);
	}
	30% {
		text-shadow: 0rem 0rem 0.1rem var(--cmbr-curtain-plum);
	}
	50% {
		text-shadow: 0.5rem 0.5rem 0.5rem rgb(133, 12, 170);
	}
	80% {
		text-shadow: -1rem -1rem 2rem rgb(112, 12, 170);
	}
	100% {
		text-shadow: -2rem -2rem 3rem transparent;
	}
}
@keyframes cmbr-sectionsizer { 
	from {
		background-size: 100% 100%;
		background-position: 0% 0%;
	}
	to {
		background-size: 60% 60%;
		background-position: 50% 50%;
	}
}

#splash-image {
	z-index: -1;
	padding-bottom: 5rem;
	background-image: url("assets/image-visas.png");
	background-size: contain;
	height: 100%;
	opacity: 75%;
	box-shadow: 3rem 3rem 2rem -3rem hsl(var(--cmbr-blue) / 0.25);
}

#info-div {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(2, 50%);
	width: min(100%, 70rem);
	margin-inline: auto;
	padding-bottom: 3rem;
	flex: 1;
	flex:content;
}

#info-div-frame {
	border-top: 0.1rem solid var(--clr-grid-box);
	border-bottom: 0.5rem solid var(--clr-grid-box);
	border-left: 0.1rem solid var(--clr-grid-box);
	border-right: 0.5rem solid var(--clr-grid-box);
}

#info-div-background {
	background: var(--cmbr-gradient);
	background-image: url("assets/image-curtain.svg");
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0%;
	animation-name: info-div-shift;
	animation-duration: 10s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease-in-out;

	animation-play-state: running;
}

@keyframes info-div-shift {
	0% {
		opacity: 0%;
		background-position: 10% 10%;
	} 20% {
		opacity: 75%;
	} 70% {
		opacity: 75%;
	} 90% {
		opacity: 0%;
		background-position: 100% 100%;
	}
}

#page-info {
	font-size: 1.2rem;
	text-align: left;
}

.index-grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(1, 100%);
	width: min(60%, 70rem);
	margin-inline: auto;
}

.index-grid > #sections-links {
	border-top: 0.9rem solid var(--cmbr-grid-box);
	opacity: 75%;
	box-shadow: 0.1rem 0.1rem 0.5rem rgb(12, 11, 71);
}

.index-footer {
	font-family: PermanentMarker;
	color: var(--cmbr-orange);
	background-color: black;
	border-bottom: 1rem solid var(--cmbr-grid-box);
	border-right: 0.5rem solid var(--cmbr-grid-box);

	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url('assets/cmbr-favicon.ico');
	animation: icon-passage 30s linear infinite;
}
@keyframes icon-passage {
	from {background-position: 0 0;}
	to {background-position: 100% 0;}
}

#japanese-date {
	font-size: 1rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bolder;
}

/* ----- SITE-WIDE CUSTOM FONT DATA ----- */

@font-face {
	font-family: "eremoran-kiptascript";
	src: 
		local("font-eremoran-kiptascript"),
		url("assets/fonts/font-eremoran-kiptascript.ttf") format("truetype"),
		url("assets/fonts/font-eremoran-kiptascript.otf") format("opentype");
}
.eremoran-kiptascript {
	font-family: "eremoran-kiptascript", sans-serif;
	padding-top: 2rem;
}

@font-face {
	font-family: "Lora";
	src:
		local("Lora"),
		local("Lora-VariableFont_wght"),
		local("Lora-Italic-VariableFont_wght"),
		url("assets/fonts/Lora-VariableFont_wght.ttf") format("truetype"),
		url("assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype"),
		url("assets/fonts/Lora-Regular.ttf") format("truetype"),
		url("assets/fonts/Lora-Italic.ttf") format("truetype"),
		url("assets/fonts/Lora-Medium.ttf") format("truetype"),
		url("assets/fonts/Lora-MediumItalic.ttf") format("truetype"),
		url("assets/fonts/Lora-Bold.ttf") format("truetype"),
		url("assets/fonts/Lora-BoldItalic.ttf") format("truetype"),
		url("assets/fonts/Lora-SemiBold.ttf") format("truetype"),
		url("assets/fonts/Lora-SemiBoldItalic.ttf") format("truetype");
}
.lora-regular {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: normal; /*400..700*/
	font-style: normal;
}

.lora-italic {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: normal; /*400..700*/
	font-style: italic;
}

@font-face {
	font-family: "PermanentMarker";
	src: 
		local("PermanentMarker-Regular"),
		url("assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
}
.marker {
	color: var(--cmbr-orange);
	font-family: "PermanentMarker", monospace;
}

@font-face {
	font-family: "VT323";
	src: local("VT323"),
	url("assets/fonts/VT323-Regular.ttf") format("truetype");
}
.vt323 {
	font-family: "VT323", monospace;
}

/* ----- SITE-WIDE GENERAL STYLE COMPONENT ----- */

body {
	color: var(--cmbr-blue);
	font-family: Lora, Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	background-image: url('assets/image-curtain.svg'); 
	/* #EEEFF0 in SVG Fill */
	background-color: var(--clr-quinary-body);
}

a {
	text-decoration: solid;
	outline: 0;
	cursor: pointer;

	color: unset;
	background-image: linear-gradient(120deg, 0%,  100%);
	background-repeat: no-repeat;
	background-size: 25% 0.1em;
	background-position: 0 88%;
	transition: background-size 0.1s ease-in;
}

a:hover {
	color: var(--clr-green);
	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}

p {
	color: inherit;
}

.common-background {
	background-color: #90e5ee1a;
}

.hr-custom {
	width: 5rem;
	height: 0.1rem;
	background-color: var(--clr-secondary);
}

.load-padding-transition {
	padding: 0.2rem;
	transition: padding 0.3s ease-in;
}

.countered-items-reset {
	counter-reset: item;
}

.countered-items {
	list-style-type: none;
	counter-increment: item;
}

.countered-items::before {
	content: counter(item) " → ";
}


/* --- HEADER AND GRID --- */

#header-and-return {
	padding: 2rem;
}

#return {
	display: flex;
	font-size: 1em;
	text-align: left;
	flex: 0.1rem;
	align-items: left;
	justify-content: left;
}

#return a:hover {
	color: var(--cmbr-green);
}

#page-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem var(--cmbr-curtain-plum);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

.page-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	/* grid-template-columns: repeat(3, 33%); */
	border-radius: 1rem;
	gap: 1rem;
}

.page-item {
	flex: 1; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: auto;
	justify-content: center;

	/* box-sizing: border-box; */
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.quick-links-grid-item:first-child {
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
}

.quick-links-grid-item {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.quick-links-buttons:first-child {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
}

.quick-links-buttons {
	padding: 1rem;
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.page-dropdown {
	background-color: var(--clr-quinary-body);
	border: 1px solid #888;
	width: fit-content; /* Could be more or less, depending on screen size */
}

/* ----- MEDIA QUERIES ---- */

.chrispy-likeness-box {
	fill: var(--clr-primary);
	border-color: rgb(188, 130, 209);
	border-left-width: 2rem;
	border-style: double;
}

@media screen and (max-width: 500px) {
	body {
		background-image: none; 
	}

	#camberden {
		font-size: 3rem;
	}
	#signature {
		position: absolute;
		width: 3rem;
		min-height: 2rem;
		user-select: none;
		animation: none;
	}
	
	#info-div {
		display: flex;
		flex-flow: row wrap;
		flex: content;
		gap: 0.5rem;
		width: min(100%);
		padding-bottom: 10rem;
	}
	#info-div-frame {
		flex: 1;
		height: 50%;
		width: 100%;
		border-top: 0.1rem solid var(--clr-grid-box);
		border-bottom: 0.5rem solid var(--clr-grid-box);
		border-left: 0.1rem solid var(--clr-grid-box);
		border-right: 0.5rem solid var(--clr-grid-box);
	}
}