body {
	color: white;
	font-family: Futura, Avenir, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	z-index: 1;
	background-color: black;
	background-image: url('https://imgur.com/HCIb3sL.png');
	background-repeat: repeat;
	animation: mymove 100s linear infinite;
  }