.travel-grid {
	display: flex;
	flex-direction: column;
	/* gap: 1.5rem; */
	grid-template-columns:max-content;
	/* padding-block: 1rem; */
	align-items: center;
	width: min(100%, 70rem);
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.travel-item {
	padding: 1rem;
	border-color: grey;
}

.map-display-button {
	width: 3rem;
	height: 2rem;
}

.visited {
	fill: blue;
}

.to-visit {
	fill: rgb(174, 218, 112);
}

.to-retire {
	fill: orchid;
}

/* ----- WORLD MAP ----- */

#world-map {
	fill: grey;
}

#world-map > :hover {
	fill: #a1dbf8;
}

/* ----- US MAP ----- */

#us-map {
	fill: grey;
}

#us-map > :hover {
	fill: #a1dbf8;
}
