.lifecraft-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#lifecraft-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;	
	background: rgba(144, 229, 238, 0.1);
}

.lifecraft-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	/* border: 0.1rem solid var(--clr-tertiary); */
	border-radius: 1rem;
	gap: 1rem;
}

.lifecraft-item {
	flex: auto; 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 20rem;
	min-height: 10rem;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.lifecraft-notes-item {
	border: double;
	border-color: grey;
	border-width: 0.3rem;
	min-width: 2rem;
	min-height: 2rem;
	padding: 0%;
	flex: 1 1 20%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: baseline;
	align-content: baseline;
}

.lifecraft-dropdown {
	background-color: var(--clr-quinary-body);
	border: .3rem solid var(--clr-grid-box);
	width: fit-content;
}

#lifecraft-view-grid {
	padding-top: 0%;
	padding-bottom: 0%;
	max-height: 10rem;
}

.modal {
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-field {
	background-color: var(--clr-quinary-body);
	margin: 15% auto; 
	/* 15% from the top and centered */
	/* border: 0.5rem double var(--clr-tertiary); */
	width: 60%; /* Could be more or less, depending on screen size */
	text-align: left;
	max-width: fit-content;

	border-radius: 0.5rem;
	border: 0.1rem solid var(--clr-tertiary);
	color: var(--clr-secondary);
	overflow: visible;
}

/*TODO: FOR NEXT PUSH; CONSOLIDATE 11/17/2025*/
#modal-text > div > ul > li {
	list-style-type: none;
	border: 0.5rem double var(--clr-grid-box);
	padding: 1rem;
}

#modal-text > ul > li {
	list-style-type: none;
	border: 0.5rem double var(--clr-grid-box);
	padding: 1rem;
}
.modal-line {
	width: 100%;
}

.modal-list-title {
	text-align: inherit;
	float: inline-start;
}


.list-dropdown {
	border-top: none;
	border-bottom: 1px solid #888;
	border-left: none;
	border-right: 1px solid #888;
	border-radius: 0.3rem;
	color: #888;
	float: inline-start;
	font-size: 3rem;
	font-weight: bold;
}

.close-modal {
	border-top: none;
	border-bottom: 1px solid var(--clr-tertiary);
	border-left: none;
	border-right: 1px solid var(--clr-tertiary);
	border-radius: 0.1rem;
	color: #888;
	float: inline-start;
	font-size: 3rem;
	padding: 0.3rem;
	font-weight: bold;

	background-image: linear-gradient(120deg, 0%,  100%);
	background-repeat: no-repeat;
	background-size: 25% 0.1rem;
	background-position: 0 88%;
	transition: background-size 0.5s ease-in;
}


.close-modal:hover,
.close-modal:focus {
	color: var(--clr-quinary-body);
	background-color: var(--clr-grid-box);

	background-size: 100% 5%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
	background-clip: content-box;
	/* -webkit-background-clip: content-box; */


	text-shadow: -5px -2px 0px #700caa;
	animation-name: change-text-shadow;
  	animation-duration: 5s;
  	animation-iteration-count: infinite;
	
	
	text-decoration: none;
	cursor: pointer;
}

.secondary-highlight {
	color: var(--clr-secondary);
	cursor: pointer;
}

/* ---------- LIFECRAFT FIELD VALUES ---------- */

.calendar-month {
	display: inline-block;
	font-size: 0.7rem;
	width: 20rem;
	height: 25rem;
	border-radius: 0.5rem;
	border: 0.1rem solid var(--clr-tertiary);
	color: var(--clr-tertiary);
	overflow: visible;
}

.calendar-date {
	display: inline-block;
	text-align: center;
	font-size: 0.7rem;
	width: 1.5rem;
	height: 1.2rem;
	padding-top: 0.2rem;
	border-radius: 0.5rem;
	/* margin: 0.5rem; */
	border: 0.1rem solid var(--clr-grid-box);
	color: var(--clr-secondary);
	overflow: visible;
}

.calendar-date:hover {
	border-color: var(--clr-primary);

}

.current-day-highlight {
	background-color: brown;
}

.event {
	background-color: khaki;
}

.future-event {
	background-color: cornsilk;
}

.obligation {
	color: magenta;
	font-size: 60%;
	display: inline;
	width: 5rem;
	height: 0.5rem;
	border: 1px solid #444;
}
.obligation:hover {
	border-color: var(--clr-quaternary);
}

.aRotation {
	font-family: 'Courier New', Courier, monospace;
	color: cyan;
}

.bRotation {
	font-family: 'Courier New', Courier, monospace;
	color: orangered;
}

/* ----- PSLF DATA AND MANAGEMENT SPECIFIC ----- */

/* MAKES GOOD MANA BAR UNITS LOL */
.pslf-box {
	display: inline-block;
	font-family: monospace;
	color: #444;
	font-size: 10%;
	text-align: center;
	width: 1rem;
	padding: 0.2rem;
	height: 0.5rem;
	border: 0.2rem solid #444;
}

.pslf-box-filled-credited {
	color: var(--clr-quinary-body);
	background-color: var(--clr-primary);
	
}
.pslf-box-filled-uncredited {
	color: var(--clr-quinary-body);
	background-color: var(--clr-secondary);
}

/* ----- MEDIA QUERIES ---- */

@media screen and (max-width: 1200px) {
	
	.lifecraft-item {
		flex-direction: column;
	}

	.calendar-month {
		height: 10rem;
	}
}