.accounting-header {
	display: flex;
	flex: 1;
	/* flex-direction: row; */
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#accounting-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: unset;
	justify-content: center;

	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: var(--clr-grid-box);
	/* width: 50%; */
}

.accounting-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	align-items: start;
	gap: 1rem;
}

.accounting-item {
	/* flex: 1 1 100%;  */
	/* display: flex; */
	flex-direction: row;
	align-items: center; /* Aligns the Ledger Table */
	/* justify-content: center; */
	min-width: 20rem;
	min-height: 5rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.accounting-sub-item {
	/* flex: 33%; */
	/* grid-template-columns: repeat(2, 50%);  */
	/* padding: 1rem; */
	background-color: var(--clr-quinary-body);
	/* margin-inline: auto; */
	max-height: min-content;
	max-width: max-content;
}

#accounting-modal {
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	top: 50%;
	width: 100%;
	height: 50%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

#task-modal {
	display: none; /* To hide by default */
	max-width: fit-content;
	max-height: max-content;
	position: fixed; /* to stay in place */
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.2rem;
	line-height: 1.2;
	color: var(--clr-tertiary);
	z-index: 1; /* To stay on top */
	top: 0%;
	left: 7%;
	width: 100%;
	height: 20%; 
	background-color: var(--clr-quinary-body); 
}

/* ---------- MAIN SEGMENT ---------- */

.asset {
	color: cornflowerblue;
}

.liability {
	color: goldenrod;
}

.equity {
	color: greenyellow;
}

.revenue {
	color: green;
}

.expense {
	color: lightcoral;
}

#accounting-overview {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	align-items: start;
	gap: 1rem;
}

#balance-sheet {
	font-size: smaller;
	font-family: 'Courier New', Courier, monospace;
	line-height: 0.2rem;
	flex-direction: row;
	align-items: left; /* Aligns the Ledger Table */
	text-align: left;
	/* justify-content: center; */
	min-width: 25%;
	min-height: 5rem;
}

#income-statement {
	font-size: smaller;
	font-family: 'Courier New', Courier, monospace;
	line-height: 0.2rem;
	flex-direction: row;
	align-items: left; /* Aligns the Ledger Table */
	text-align: left;
	/* justify-content: center; */
	min-width: 25%;
	min-height: 5rem;
}

#statement-of-shareholders-equity {
	font-size: smaller;
	font-family: 'Courier New', Courier, monospace;
	line-height: 0.2rem;
	flex-direction: row;
	align-items: left; /* Aligns the Ledger Table */
	text-align: left;
	/* justify-content: center; */
	min-width: 25%;
	min-height: 5rem;
}

#statement-of-cash-flows {
	font-size: smaller;
	font-family: 'Courier New', Courier, monospace;
	line-height: 0.2rem;
	flex-direction: row;
	align-items: left; /* Aligns the Ledger Table */
	text-align: left;
	/* justify-content: center; */
	min-width: 25%;
	min-height: 5rem;
}




/* ----- JOURNAL & LEDGER SPECIFIC ----- */


#journal-module {
	padding: 0.2rem;
	/* border: 0.1rem solid var(--clr-quaternary); */
	max-width: fit-content;

}
#journal-module > table {
	padding: 1rem;
	/* border: 0.1rem solid var(--clr-tertiary); */
	width: fit-content; /* Fixed Table Sizing Issue! */

}
#journal-module > table > tr > th {
	padding: 1rem;
	border: 0.3rem double darkgray;
	text-overflow: clip;
}
#journal-module > table > tr > td {
	/* width: fit-content; */
	padding: 0.2rem;
	border: 0.3rem double grey;
}
#journal-module > table > tr > td > input {
	width: 100%;
}
.th1-w {
	width: 60%;
}
.th2-w {
	width: 20%;
}

/* ----- STOCK WORKSHEET SPECIFIC ----- */

#holdings-list {
	font-size: smaller;
	list-style-type: none;
	text-indent: -2rem;
}

#accounting-dropzone {
	width: 15rem;
	height: 15rem;
	font-size: 1.0rem;
	line-height: 1.0;
	color: var(--clr-tertiary);
	background-color: var(--clr-quinary-body);
	resize: none; /* disable resizing */
}

/* ----- T-ACCOUNT SPECIFIC ----- */

#t-card-grid {
	max-height: 30rem;
	overflow: scroll;
	overflow-anchor: auto;
}

:where(#t-card-grid) :where(tr, th, td) {
	border: 1px double var(--clr-quinary-body);
	height: 2rem;
}

/* ----- MISCELLANEOUS ----- */

input[type=text] {
	background-color: var(--clr-grid-box);
	color: #f59b60;
	font-family: Permanent Marker, serif;
	font-size: 1rem;
	border: none;
	width: 8rem;
}

input[type=text]:focus {
	background: var(--clr-grid-box);
	background-color: var(--clr-quinary-body);
	color: var(--clr-tertiary);
	font-family: Permanent Marker, serif;
	background-repeat: no-repeat;
}