.accounting-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#accounting-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.accounting-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	align-items: start;
	gap: 1rem;
}

.accounting-item {
	/* flex: 1 1 100%;  */
	/* display: flex; */
	flex-direction: row;
	align-items: center; /* Aligns the Ledger Table */
	/* justify-content: center; */
	min-width: 20rem;
	min-height: 5rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.accounting-sub-item {
	/* flex: 33%; */
	/* grid-template-columns: repeat(2, 50%);  */
	/* padding: 1rem; */
	background-color: var(--clr-quinary-body);
	/* margin-inline: auto; */
	max-height: min-content;
	max-width: max-content;
}



/* ----- LEDGER SPECIFIC ----- */


#ledger-prompter {
	padding: 0.2rem;
	/* border: 0.1rem solid var(--clr-quaternary); */
	max-width: fit-content;

}
#ledger-prompter > table {
	padding: 1rem;
	/* border: 0.1rem solid var(--clr-tertiary); */
	width: fit-content; /* Fixed Table Sizing Issue! */

}
#ledger-prompter > table > tr > th {
	padding: 1rem;
	border: 0.3rem double darkgray;
	text-overflow: clip;
}
#ledger-prompter > table > tr > td {
	padding: 0.2rem;
	border: 0.3rem double grey;
}

#ledger-prompter > table > tr > td > input {
	width: 100%;
}

.th1-w {
	width: 60%;
}
.th2-w {
	width: 20%;
}

input[type=text]:focus {
	/* border-width: 0rem; */
	background: var(--clr-grid-box);
	color: #f59b60;
	font-family: Permanent Marker, serif;
	background-repeat: no-repeat;
}

/* ----- STOCK WORKSHEET SPECIFIC ----- */

#stock-prompter {
	/* padding: 0.2rem; */
	/* border: 0.1rem solid var(--clr-quaternary); */
	/* max-width: fit-content; */
}

/* ----- T-ACCOUNT SPECIFIC ----- */

.t-card {
	padding: 2rem;
}
.t-card > table {
	border-width: 0rem;
}
.t-card > table > tr > th {
	padding: 0rem;
	border-style: none;
	border-color: var(--clr-secondary);
	text-overflow: clip;
}
.t-card > table > tr > td {
	padding: 0rem;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

input[type="text"] {
	border-width: 0rem;
	background: var(--clr-grid-box);
	color: var(--clr-primary);
}