.accounting-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border: grey, double, .3rem;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#accounting-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border: grey, double, .3rem;
	background: rgba(144, 229, 238, 0.1);
}

.quick-links-grid-item {
	padding: 1rem;
	border: grey, double, .3rem;
	border-top: none;
	border-bottom: none;
}

.quick-links-buttons {
	padding-left: 1rem;
	padding-right: 1rem;

}

.accounting-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	border-radius: 1rem;
	gap: 1rem;
}

.accounting-item {
	flex: 1; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border: grey, double, .3rem;
	background: rgba(144, 229, 238, 0.1);
}

#accounting-notes-item {
	padding: 0%;
	flex: 1 1 100%;
	flex-wrap: wrap;
	flex-direction: row;
}

/* .accounting-item:hover {
	border-radius: 0.5rem;
	border-top-width: 0.5rem;
	border-left-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-right-width: 0.5rem;
	transition: border-right-width 0.3s ease-in-out;
	transition: border-bottom-width 0.3s ease-in-out;
} */

.load-padding-transition {
	padding: 0.2rem;
	transition: padding 0.3s ease-in;
}

#formulas-list {
	list-style-type: none;
	text-align: left;
}

#accounting-formulas-item {
	flex: 1 1 50%;
}