body {
	text-align: center;
	color: var(--cmbr-blue);
	font-family: "Lora", "Georgia", "Times", serif;
	min-height: 100vh;
}

#info-div {
	display: grid;
	grid-template-columns: 3fr;
	padding-bottom: 3rem;
	width: 100%;
	flex: content;
}

#page-info {
	flex: 1;
	box-sizing: border-box;
	width: 100%;
	height: 10rem;
	background: black;

	color: seagreen;
	font-family: "VT323", monospace;
	font-size: 1.5rem;
	text-align: left;

	border-left: 0.5rem solid var(--cmbr-grid-box);
	border-right: 0.5rem solid var(--cmbr-grid-box);
	padding-left: 0.2rem;
}

#info-div-frame {
	flex: 1;
	box-sizing: content-box;
	/* outline: 0.1rem solid goldenrod; */
	/* border-right: 0.5rem solid var(--clr-grid-box); */
	margin-inline-end: 0%;
}

#info-div-background {
	box-sizing: border-box;
	width: 100%;
	height: 10rem;
	/* outline: 0.1rem dotted red; */
	background-image: url("../images/sig.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.other-trigger-box {
	box-sizing: border-box;
	width: 20rem;
	height: fit-content;
	background: var(--cmbr-grid-box);
	color: var(--clr-quaternary);
	border: 0.3rem groove transparent;
	outline: 0.1rem groove olive;
	padding: 0.5rem;
	margin-top: 0.5rem;
	overflow: wrap;
}

.marker {
	font-size: 1.5rem;
	color: var(--cmbr-green);
	text-shadow: 0.1rem 0.1rem 0.1rem var(--cmbr-violet);
}
.depository-title {
	font-size: 2rem;
	font-family: "PermanentMarker", sans-serif;
	background: var(--cmbr-legacy-gradient);
	border-bottom: 0.3rem solid var(--clr-grid-box);
	border-left: 0.1rem solid var(--clr-grid-box);

	background-clip: border-box;
	-webkit-background-clip: text;
	background-repeat: no-repeat;
	color: transparent;
	user-select: none;

}

button {
	cursor: pointer;
	box-sizing: content-box;
	width: 50%;
	height:fit-content;
	color: burlywood;
	background: #182124;
	border: 0.3rem groove transparent;
	outline: 0.1rem groove olive;
}
.button-highlight {
	cursor: pointer;
	background: var(--cmbr-grid-box);
	color: var(--clr-quaternary);
	outline: 0.3rem groove olive;
}
.button-depressed {
	/* position: static; */
	color: var(--cmbr-grid-box);
	background: var(--clr-quaternary);
	outline: 0rem groove olive;
}

