<!DOCTYPE html>
<html lang="en-US">
<!-- Hi there! :V -->

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="origin" />
	<link rel="shortcut icon" href="..images/cmbr-sig.svg">
	<style>
		@import "../styles.css" screen;
		@import "depository.css" screen;
	</style>
	<script src="../htmx.js" defer></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.6/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
	<title>Chrispy's Corner</title>
</head>

<body>
	<!-- NAV & TOP -->
	<main class="index-grid">

		<div class="signature-div">
			<img id="signature" src="../images/cmbr-sig.svg" alt="emblem">
		</div>

		<div class="nav-row-grid">
			<div id="sections-dropdown" style="display:none;">
				<div id="sections-access">Navigation</div>
			</div>

			<div id="title-container">
				<h1 id="camberden" lang="en-US">camberden</h1>
			</div>

			<div id="bookmarks-dropdown" style="display: none;">
				<div id="bookmarks-access">Bookmarks</div>
				<div id="bookmarks-links"></div>
			</div>
		</div>

		<div id="info-div">
			<div id="page-info">

			</div>

			<div id="info-div-frame">
				<div>
					<h1 class="depository-title">HTMX Play</h1>
				</div>
				<!-- <div id="info-div-background"></div> -->
			</div>

		</div><!-- END NAV AND TOP -->


		<div class="triggers">
			<div class="trigger-box" hx-get="/depository/mouse_entered/index.html" hx-trigger="mouseenter">
				<h2>Here here, mouse!</h2>
				<hr class="hr-trans">
			</div>
		</div>
		<div class="triggers">
			<div class="trigger-box" hx-get="/depository/mouse_entered/alt.html" hx-trigger="mouseenter">
				<h2>Here here, mouse!</h2>
				<hr class="hr-trans">
			</div>
		</div>
		<div class="triggers">
			<div class="trigger-box" hx-get="/depository/obsidian/Purple Foray.md" hx-trigger="click">
				<h2>Here here, mouse!</h2>
				<hr class="hr-trans">
			</div>
		</div>

		<div class="triggers">
			<div id="target-element" class="trigger-box" @click="CMBRdb.querySelect(*)">targ</div>
				
			</div>
		</div>
		<div class="triggers">
			<div id="target-element" class="trigger-box">targ</div>
				
			</div>
		</div>

		<div x-data="{ open: false }">
			<button @click="open = ! open">Toggle Content</button>
		
			<div x-show="open">
				Content...
			</div>
		</div>

		<form>
			<div class="triggers">
				<div class="trigger-box">
					<div x-data="{ open: false, label: 'query' }">
						<input type="text" x-model='query'>
						<p>You typed: <span x-text='query'></span></p>
						<submit  @click.prevent="CMBRdb.querySelect('query')" @click="open = ! open">Submit</submit>
					</div>
					<hr class="hr-trans">
					<div x-show="open">
						Content...
					</div>
				</div>
			</div>
		</form>

		<ul id="comments">
			<li>Comment #1</li>
		</ul>
		<form x-target="comments" method="post" action="/comment">
			<input aria-label="Comment text" name="text" required />
			<button>Submit</button>
		</form>

		<hr class="hr-cmbr-gradient hr-push-down">

		<div><button class="linkage-box" value="http://localhost:8765" target="_blank" rel="noreferrer">Localhost:8765
				=> For AnkiConnect Access!</button>
			<hr class="hr-cmbr-dark-gradient">
		</div>
		<div><button class="linkage-box" value="http://localhost:5500" target="_blank" rel="noreferrer">Localhost:5500
				[for FiveServer]</button>
			<hr class="hr-cmbr-dark-gradient">
		</div>
		<div><button class="linkage-box" value="http://localhost:4240" target="_blank" rel="noreferrer">Localhost:4240
				[for ExpressServer]</button>
			<hr class="hr-cmbr-dark-gradient">
		</div>
		<div><button class="linkage-box" value="http://localhost:8080" target="_blank" rel="noreferrer">Localhost:8080
				[for ArtisanServer]</button>
			<hr class="hr-cmbr-dark-gradient">
		</div>
		<div><button class="linkage-box" value="https://launcher.keychron.com/#/not-connect" target="_blank"
				rel="noreferrer">
				Keychron Configuration</button>
			<hr class="hr-cmbr-dark-gradient">
		</div>

		<hr class="hr-push-up hr-cmbr-gradient hr-push-down">

	</main>

	<!-- HTMX MISC BUTTONS -->
	<div class="index-sub-grid">

		<div style="text-align:left;">
			<h2 class="marker">Requests</h2>
			<hr class="hr-custom">
			<p>I'll ensure to add some functionality to the buttons right here, when the time is right.
				At this time, I surely need to get on with importing myself some UI components to put
				an end to this styles.css hell. Haha.
			</p>
		</div>
		<div>

			<button>Planet 1</button>
		</div>

		<div>
			<button>Planet 2</button>
		</div>

	</div>
	<hr class="hr-push-up hr-cmbr-gradient hr-push-down">

	<!-- HTMX RESPONSE FIELDS -->
	<div class="index-sub-grid">

		<div style="text-align:left;">
			<h2 class="marker">Responses</h2>
			<hr class="hr-custom">
			<p>I'll ensure to add some functionality to the buttons right here, when the time is right.
				At this time, I surely need to get on with importing myself some UI components to put
				an end to this styles.css hell. Haha.
			</p>
		</div>
		<div>
			<p>Planet Data 1 Below</p>
			<div class="other-trigger-box">
			</div>
			<!-- Planet 1 data will be loaded here -->
		</div>

		<div>
			<p>Planet Data 2 Below</p>
			<div class="other-trigger-box"></div>
			<!-- Planet 2 data will be loaded here -->
		</div>
	</div>

	</div>
	<!-- ALPINE.JS -->
	<div class="index-grid">
		<hr class="hr-cmbr-gradient hr-push-up">
		<div>
			<h1 class="depository-title">AlpineJS Play</h1>
		</div>
		<hr class="hr-cmbr-gradient hr-push-down">

		<div class="triggers">
			<div class="trigger-box">

				<div x-data="{ open: false }">
					...
				</div>
				<hr class="hr-trans">
			</div>

		</div>


		<div class="triggers">
			<div class="trigger-box">
				<div x-data="{ open: false }">
					<div x-data="{ label: 'Content:' }">
						<span x-text="label"></span>
						<span x-show="open"></span>
					</div>
				</div>
				<hr class="hr-trans">
			</div>
		</div>


		<div class="triggers">
			<div class="trigger-box">

				<div x-data="{ label: 'Click Here, now.' }" x-text="label">
					...
				</div>
				<hr class="hr-trans">
			</div>
		</div>
		<hr class="hr-push-up hr-cmbr-gradient hr-push-down">

	</div>

	<!-- ALPINE.JS MISC BUTTONS -->
	<div class="index-sub-grid">

		<div style="text-align:left;">
			<h2 class="marker">Hi Alpine</h2>
			<hr class="hr-cmbr-dark-gradient">

			<p>Importing the Alpine framework was easy. Next I'm off to grab some components.
			</p>
		</div>

		

		<div x-data="{ count: 0 }">
			<span x-text="count"></span>
			<hr class="hr-groove-bottom">
			<hr class="hr-groove-top">
			<div class="triggers">
				<div class="trigger-box">
					<h2 @click="count++">Increment!</h2>
					<!-- <button x-on:click="count++">Increment</button> -->
				</div>
			</div>
		</div>

		<div>
			<code>You will often see @ instead of x-on:. This is a shorter, friendlier syntax that many prefer. From now on, this documentation will likely use @ instead of x-on:.</code>
		</div>

	</div>

	<div class="index-grid">
		<hr class="hr-cmbr-gradient hr-push-up">
		<div>
			<h1 id="alpinejs-components" class="depository-title">AlpineJS Components</h1>
		</div>
		<hr class="hr-cmbr-gradient hr-push-down">

	<form>
		<div class="triggers">
			<div class="trigger-box">
				<div x-data="{ label: 'Click Here, now.', banana: 'banana' }">
					<input type="text" x-model="banana">
					<p>You typed: <span x-text="banana"></span></p>
					<submit  @click.prevent="alert('Form submitted with: ' + banana)">Submit</submit>
				</div>
				<hr class="hr-trans">
			</div>
		</div>
	</form>
		<hr class="hr-push-up hr-cmbr-gradient hr-push-down">
<!---------------- ALPINE COMPONENT -------------------->
	<div class="index-grid">
		<div class="" x-data="{ active: 2 }">
		<div x-data="{
			id: 1,
			get expanded() {
				return this.active === this.id
			},
			set expanded(value) {
				this.active = value ? this.id : null
			},
		}" role="region" class="">
			<h2>
				<button
					type="button"
					x-on:click="expanded = !expanded"
					:aria-expanded="expanded"
					class="trigger-box">
					<div class="trigger-dropdown">
						<span x-show="expanded" x-cloak>&UpArrow;</span>
						<span x-show="!expanded" x-cloak>&DownArrow;</span>
						<span>Question 1</span>
						<span x-show="expanded">&UpArrow;</span>
						<span x-show="!expanded">&DownArrow;</span>
					</div>

				</button>
			</h2>

			<div x-show="expanded" x-collapse>
				<div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam quod natus deleniti architecto eaque consequuntur ex, illo neque iste repellendus modi, quasi ipsa commodi saepe? Provident ipsa nulla earum.</div>
			</div>
		</div>

		<div x-data="{
			id: 2,
			get expanded() {
				return this.active === this.id
			},
			set expanded(value) {
				this.active = value ? this.id : null
			},
		}" role="region" class="">
			<h2>
				<button
					type="button"
					x-on:click="expanded = !expanded"
					:aria-expanded="expanded"
					class="trigger-box">
					<div class="trigger-dropdown">
						<span x-show="expanded" x-cloak>&UpArrow;</span>
						<span x-show="!expanded" x-cloak>&DownArrow;</span>
						<span>Question 2</span>
						<span x-show="expanded">&UpArrow;</span>
						<span x-show="!expanded">&DownArrow;</span>
					</div>
				</button>
			</h2>

			<div x-show="expanded" x-collapse>
				<div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam quod natus deleniti architecto eaque consequuntur ex, illo neque iste repellendus modi, quasi ipsa commodi saepe? Provident ipsa nulla earum.</div>
			</div>
		</div>
		</div>
	</div>
</div>






	<!-- FOOTER -->
	<div class="index-grid">
		<hr class="hr-push-up hr-cmbr-gradient hr-push-down">

		<footer class="index-footer">
			<p id="footer-text">Made with ♡ by Chrispy</p>
		</footer>
	</div>



	<script src="../cmbr.js"></script>
	<script src="depository.js"></script>

</body>

</html>