/*	METADATA	*/
body{
	background-color: #f6f6f6;
}

/*	PAGETITLE	*/

#poemtitle {
	font-style: normal;
	text-align: center;
	font-weight: 950;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
}

.wum {
	color: #f1cf63;
	font-family: Open Sans Condensed, sans-serif;
	text-align: center;
	background-size: cover;
	line-height: 3em;
}
  
.wum-r1 {
	font-size: 8.7em;
	font-weight: 700;
	line-height: 1.1em;
	text-transform: uppercase;
}
  
.wum-small {
	font-family: Pacifico, Futura, Avenir;
	font-weight: 400;
	font-size: 0.37em;
	line-height: 1.35em;
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.44em;
	padding-right: 0.2em;
	/* border: 0.3em solid #f1cf63; */
	border-right: 0;
	border-left: 0;
	text-transform: lowercase;
}

/*	POEMCONTAINER	*/

.poemassetscontainer{
	/* background-image: url("https://imgur.com/FXAQU9u.png"); */
	background-color: #f6f6f6;
}

.poemcontainer{
	/* display: block; */
	/* margin-left: auto;
	margin-right: auto; */
	background-color: #f6f3ed;
	margin-left: 19vh;
	margin-right: 20vh;
	min-width: 500px;
	border-left: 500px white;
	border-right: 500px white;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: black;
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 60px;
	font-size: 30px;
	text-align: center;
}

/* percents instead of pixels, says mo */

/*	POEMTEXT	 */

.eb-lora {
	color: #000;
	text-align: left;
	font-family: Lora, sans-serif;
	font-style: italic;
	font-weight: 400;
	line-height: 3em;
	/* padding: 11em 12em 10em; */
}
  
.eb-lora-p {
	font-size: 10px;
	font-size: 1.5em;
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	line-height: 1.9em;
	min-width: 1em;
}
  
.eb-lora-fl {
	font-size: 7em;
	float: left;
	line-height: 0.8em;
	margin-top: -0.29em;
	margin-right: -0.05em;
}

/*	BOTTOMSIGNATURE	*/

.kir {
	color: #db8044;
	text-align: right;
	font-size: 1em;
	font-family: Permanent Marker, serif;
	/* padding: 7em 0em 13em; */
}
  
.kir-r1 {
	line-height: 0em;
	font-size: 100px;
	font-weight: 100;
	color: rgb(225, 234, 243);
}
  
.kir-r2 {
	line-height: -1em;
	margin-top: -1em;
	font-size: 50px;
}
