/*	METADATA	*/
body {
	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url(../assets/interlaced.png);
	background-color: #f6f6f6;
	background-blend-mode: multiply;
	/* background: #f6f6f6; */

}

/*	PAGETITLE	*/

#poemtitle {
	font-style: normal;
	text-align: center;
	font-weight: 950;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
}

.open {
	color: #f1cf63;
	font-family: Open Sans Condensed, sans-serif;
	text-align: center;
	background-size: cover;
	line-height: 3em;
}
  
.opentitle {
	font-size: 8.7em;
	font-weight: 700;
	line-height: 1.1em;
	text-transform: uppercase;
}
  
.pacifico {
	font-family: Pacifico, Futura, Avenir, monospace;
	font-weight: 400;
	font-size: 0.37em;
	line-height: 1.35em;
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.44em;
	padding-right: 0.2em;
	/* border: 0.3em solid #f1cf63; */
	border-right: 0;
	border-left: 0;
	text-transform: lowercase;
}

/*	POEMCONTAINER	*/

.poemcontainer {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: auto;
	margin-right: auto;
	/* margin-left: 15vh;
	margin-right: 20vh; */
	min-width: 500px;
	/* padding: 100px; */
	/* display: block; */
	/* border-left: 500px white; */
	/* border-right: 500px white; */
}

.poem {
	background-color: #f6f3ed;
	min-width: 300px;
}

.poemasset {
	background-color: inherit;
	padding: 60px;
	font-size: 30px;
	text-align: center;
	margin-top: 75%;
}

button {
	/* border: 20px solid f;
	border-radius: 5%; */
	background-color: inherit;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;	
	display: inline-block;
	user-select: none;
}

/* percents instead of pixels, says mo */

/*	POEMTEXT	 */
  
.writing {
	user-select: none;
	color: #000;
	text-align: left;
	font-family: Lora, sans-serif;
	font-style: italic;
	font-size: 1.5em;

	max-width: 570px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	line-height: 1.9em;
	min-width: 1em;
}
  
.writinginitial {
	font-size: 7em;
	float: left;
	line-height: 0.8em;
	margin-top: -0.29em;
	margin-right: -0.05em;
	text-shadow: -5px -2px 0px rgb(133, 132, 132);
}

/* INPUT FIELD */

input[type=text] {
	background-color: #a1dbf8;
	color: #f59b60;
	font-family: Permanent Marker, serif;
	/* background-position: 10px 10px; */
	background-repeat: no-repeat;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
  }

  input[type=text]:focus {
	border: 3px solid #555;
  }

/*	BOTTOMSIGNATURE	*/

.marker {
	color: #db8044;
	text-align: right;
	font-size: 1em;
	font-family: Permanent Marker, serif;
	/* padding: 7em 0em 13em; */
}
  
.markerlarge {
	line-height: 0em;
	font-size: 100px;
	font-weight: 100;
	color: rgb(123, 153, 184);
}
  
.markersmall {
	/* line-height: -1em; */
	margin-top: -1em;
	font-size: 50px;
}


