/* ----- PAGE SPECIFIC ----- */

ul {
	text-align: left;
}

input[type=text] {
	background-color: var(--clr-grid-box);
	color: #f59b60;
	font-family: Permanent Marker, serif;
	font-size: 1rem;
	border: none;
	width: 8rem;
}

input[type=text]:focus {
	background-color: var(--clr-quinary-body);
}

#dashboard-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#dashboard-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.dashboard-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	border-radius: 1rem;
	gap: 1rem;
}

.dashboard-item {
	flex: 1; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#dashboard-step-pay-plan {
	flex: 2;
}

#dashboard-reeducation-information {
	flex: 2; 
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	min-width: 20rem;
	min-height: 20rem;
	padding: 2rem;
}

#dashboard-refdocs {
	flex: 0.1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

#dashboard-pension-calculator {
	flex: content;
	min-width: fit-content;
}

/* ----- EXPENSE MANAGEMENT SPECIFIC ----- */

#p2p {
	background: var(--clr-quaternary);
}

.no-bullet {
	list-style-type: none;
}

#expense-list > li {
	list-style-type: none;
}

#balance {
	margin-left: 24px;
}

.automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: .7;
	color: var(--clr-tertiary);
}

.non-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	color: red;
}

.not-applicable {
	color: grey;
	opacity: 0.3;
	user-select: none;
}

#inp-cost {
	margin-left: 10px;
}

/* ----- STEP PAY PLAN SPECIFIC ----- */

:where(#salary-table) :where(tr, th, td) {
	border: 1px double var(--clr-quinary-body);
	height: 2rem;
}

.salary-highlight {
	color: var(--clr-quaternary);
	background-color: var(--clr-tertiary);
}

#salary-values > li {
	list-style-type: none;
}

#salary-table-corner {
	background: var(--clr-grid-box);
}

/* ----- REEDUCATION SPECIFIC ----- */

#cpa-progress-bar {
	display: block;
	height: 2em;
  	position: relative;
  	background: grey;
	border-radius: 1rem;
	margin-right: 5%;
	margin-left: 5%;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#cpa-progress-bar > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(134, 227, 159);
	background-image: linear-gradient(
	  center bottom,
	  rgb(108, 222, 138) 37%,
	  rgb(84,240,84) 69%
	);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.taking {
	color: var(--clr-tertiary);
	list-style-type: circle;
}

#acc-courses > li:hover {
	background: var(--clr-quaternary);
}

.planned-or-completed {
	color: var(--clr-tertiary);
}

.taken {
	color: var(--clr-secondary);
	list-style-type: "✓ ";
}

.acc-schedule-grid {
	display: grid;
	grid-template-columns: repeat(11, 8%);
}

/* MENUMODAL */

#menulabel {
	color: var(--clr-secondary);
	text-align: center;
	font-size: 1rem;
	font-family: Permanent Marker, serif;
}

#menulabel:hover {
	color: var(--clr-primary);
	/* font-size: 1.1em; */
	position: inherit;
	text-shadow: -2.5px -1px 0px #ff00ff;
}

.modal {
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(2, 50%);
}
  
.menudialog {
	background-color: var(--clr-quinary-body);
	margin: 15% auto; /* 15% from the top and centered */
	/* padding: 20px; */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.menudialog > li {
	margin-left: 25px;
}

.dialogtext {
	color: var(--clr-secondary);
	font-size: 1em;
	margin-left: 30%;
	font-family: Permanent Marker, serif;
}

.closemenu {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closemenu:hover,
.closemenu:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.cpa-req {
	color: black;
}

.cpa-req-highlight{
	color: red;
}

/* ----- PENSION CALCULATOR ----- */

#subgrid-pension-calculator {
	display:flex;
	flex-direction: row;
	justify-content: baseline;
}

#pension-table {
	margin: 1rem;
	max-width: 600px;
	min-width: 400px;
}

#pension-table > tr > th {
	width: 0.1rem;
	border-style: double;
	border-color: var(--clr-secondary);
}

#pension-table > tr > td {
	padding: 0.2rem;
	border-top: none;
	border-bottom: double;
	border-left: none;
	border-right: double;
}

.pension-reduction-highlight {
	background-color: var(--clr-quaternary);
}

/* ----- MEDIA QUERIES ---- */

@media screen and (max-width: 1350px) {

#pension-table > tr > td {
	padding: 0.1rem;
	border-top: none;
	border-bottom: double;
	border-left: none;
	border-right: double;
	}
}

@media screen and (max-width: 750px) {

body {
	background-image: none; 
}

#subgrid-pension-calculator {
	flex-direction: column;
	justify-content: center;
}

#pension-data {
	justify-content: center;
}

#pension-table > tr > td {
	padding: 0.0rem;
	border-top: none;
	border-bottom: double;
	border-left: none;
	border-right: double;
}

.dashboard-item {
	padding: 1rem;
}
}

@media screen and (max-width: 500px) {

body {
	background-image: none; 
}

#subgrid-pension-calculator {
	flex-direction: column;
	justify-content: center;
}

#pension-data {
	justify-content: center;
}

#pension-table > tr > td {
	padding: 0.0rem;
	border-top: none;
	border-bottom: double;
	border-left: none;
	border-right: double;
}

.dashboard-item {
	padding: none;
}


}

/* ----- ANIMATION DATA ----- */

@keyframes text-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fade-in-data {
	animation-name: text-fade-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
