/* ----- PAGE SPECIFIC ----- */

ul {
	/* margin-right: 25%; */
	text-align: left;
}

input[type=text] {
	background-color: #a1dbf8;
	color: #f59b60;
	font-family: Permanent Marker, serif;
	font-size: 1rem;
	border: none;
	width: 8rem;
}

input[type=text]:focus {
	background-color: #f6f3ed;
}

.list-background {
	background: #f6f3ed;
}

/* ----- GRID SPECIFIC ----- */

.quick-links-grid {
	display: grid;
	gap: 1.5rem; 
	margin-inline-end: auto;
	width: min(100%, 69rem);
	grid-template-columns: repeat(8, 11%); /* repeat(4, 25%) */
	padding-block: 1rem;

}

.quick-links-grid-item {
	padding: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-color: red;
	border-style: double;
}


.dashboard-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(2, 50%); /* repeat(4, 25%) */

	/* padding-block: 1rem; */
	width: min(100%, 70rem);
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.dashboard-item {
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-color: red;
	border-style: double;
}

.dashboard-item:last-child {
	/* background: red !important; */
	/* grid-column: span 2; goes across 2 gridspaces */
	grid-column-start: 4; /* starts after gridspace 4 */
	/* grid-row-start: 1; places it on first row */
	grid-row-start: 1;
	/* grid-row-end: span 2;  goes across 2 rows, expanding column!  can just say grid-row: 1 / 3 (based on grid lines) */
}

/* .dashboard-item:nth-child(3) {
} */

/* ----- EXPENSE MANAGEMENT SPECIFIC ----- */

#p2p {
	background-color: lightcyan;
	color: red;
	font-weight: 900;
}

.no-bullet {
	list-style-type: none;
}

#balance {
	margin-left: 24px;
}

.automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: greenyellow;
}

.her-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: mistyrose;
	color: purple;
}

.non-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	color: red;
}

.her-non-automated-payment {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.5;
	background-color: mistyrose;
	color: red;
}

.not-applicable {
	color: grey;
	opacity: 0.3;
	user-select: none;
}

#inp-cost {
	margin-left: 10px;
}

/* ----- PSLF DATA AND MANAGEMENT SPECIFIC ----- */

.bar {
	height: 2em;
  	position: relative;
  	background: #555;
	border-radius: 1rem;
	margin-right: 5%;
	margin-left: 5%;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.bar > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(134, 227, 159);
	background-image: linear-gradient(
	  center bottom,
	  rgb(108, 222, 138) 37%,
	  rgb(84,240,84) 69%
	);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

#pslfBoxes {
	background-color: #f6f3ed;
}

.pslf-box {
	display: inline-block;
	width: 1rem;
	height: 0.5rem;
	/* border-radius: 1rem; */
	margin: 0.1rem;
	border: 1px solid #444;
	color: rgba(0, 0, 0, 0);
}

.pslf-box-filled {
	background-color: #a1dbf8;
}

/* ----- STEP PAY PLAN SPECIFIC ----- */

#salary-table-div {
	position: relative;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	background: #f6f3ed;
}

table, th, td {
	border: 1px solid black;
	height: 2rem;

  }

.salary-highlight {
	color: blueviolet;
	background-color: yellow;
  }

#salary-table-corner {
	background: whitesmoke;
}

#input-step-information {
	background: #f6f3ed;
}

#toggle-bonus:hover {
	border-left-width: .5rem;
	border-right-width: .5rem;

}

.button-toggle-enabled {
	border-style: double;
	border-color: greenyellow;
	background-color: #a1dbf8;
}

/* ----- REEDUCATION SPECIFIC ----- */

#currently-taking{
	text-align: center;
}

.taking-highlight {
	color: blue;
	list-style-type: circle;
}

.taken {
	color:#db8044;
	list-style-type: "✓ ";
}

.acc-schedule-grid {
	display: grid;
	grid-template-columns: repeat(11, 8%);
}

/* MENUMODAL */

#menulabel {
	color: #db8044;
	text-align: right;
	font-size: 1em;
	font-family: Permanent Marker, serif;
}

#menulabel:hover {
	color: #a1dbf8;
	/* font-size: 1.1em; */
	position: inherit;
	text-shadow: -2.5px -1px 0px #ff00ff;
}

.modal {
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(2, 50%);
}
  
.menudialog {
	background-color: rgb(233, 233, 233);
	margin: 15% auto; /* 15% from the top and centered */
	/* padding: 20px; */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.menudialog > li {
	margin-left: 25px;
}

.dialogtext {
	color: #db8044;
	font-size: 1em;
	margin-left: 30%;
	font-family: Permanent Marker, serif;
}

.closemenu {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closemenu:hover,
.closemenu:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.acc-container {
	display: grid;
	grid-template-columns: [first] 400px [line2] 400px [line3] 400px [end];
	grid-template-rows: 
	[row1-start] auto [row1-end] auto
	[row2-start] auto [row2-end] auto
	[row-3start] auto [row-3end] auto;
	/* column-gap: 10px; */
	color: black;
	font-family: Lora, serif;
	text-align: left;
	border: #555;
	/* margin-left: 3em;
	margin-right: 3em;
	position: relative; */
}

.cpa-req {
	color: black;
}

.cpa-req-highlight{
	color: red;
}

/* ----- LIFE IN WEEKS SPECIFIC ----- */

.momentbox {
	display: inline-block;
	width: 2px;
	height: 5px;
	border-radius: 1px;
	margin: 1px;
	border: 1px solid #444;
	color: rgba(0, 0, 0, 0);
}

.momentboxfilled {
	  background-color: #444;
}

.momentboxfilled:hover {
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	background-size: contain;
}

.moment {
	border: 2px solid red;
	opacity: 1;
	margin: 0px;
}

/* ----- PENSION CALCULATOR SPECIFIC ----- */

.pension-calculator-button {
	height: 2rem;
	width: 7rem;
}
.pension-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(3, 30%);
	background-color: #f6f3ed;
}

#pension-table {
	margin-inline: auto;
}