body {
	min-height: 100vh;
}

.w-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(3, 25%); /* repeat(4, 25%) */

	/* padding-block: 2rem; */
	width: min(95%, 70rem);
	margin-inline: auto;
	max-height: min-content;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-col-span-3 {
	grid-column: span 3;
}

.grid-col-span-4 {
	grid-column: span 4;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.grid-row-span-3 {
	grid-row: span 3;
}

.grid-row-span-4 {
	grid-row: span 4;
}

/* ----- LIST TRAVERSAL AND ITEM SELECTION ----- */

.highlight {
	color: red;
	letter-spacing: .1em;
	transition: 0.1s ease-out;
	background-color: transparent;
}

#item-list > li {
	text-align: left;
	margin-left: 33%;
	list-style-type: none;
}

#item-list > li:hover {
	/* background: var(--clr-quaternary); */
	background: #9A031E;
	/* background: #797a9e; */
}

/* ----- SEGREGATION SPECIFIC ----- */

.sm-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(4, 25%); /* repeat(4, 25%) */

	padding-block: 2rem;
	width: min(95%, 80rem);
	margin-inline: auto;
	max-height: min-content;
}

.sm-item {
	box-sizing: border-box;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-color: grey;
	border-style: double;
}

.cell-box {
	display: inline-block;
	box-sizing: border-box;
	font-size: 0.7rem;
	width: 5rem;
	height: 8rem;
	border-radius: 0.5rem;
	/* margin: 0.5rem; */
	border: 0.5rem solid #444;
	color: chartreuse;
	overflow:visible;
}

.empty-box {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	border-radius: 0.5rem;
	margin: 0.5rem;
	border: 0.5rem solid transparent;
}

.cell-box:hover {
	border-color: green;
}
