.jlpt-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(4, 20%);
	padding-block: 1rem;
	width: min(100%, 70rem);
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.grid-col-span-4 {
	grid-column: span 4;
}

.margin-inline {
	margin-inline: auto;
}

.jlpt-item {
	padding: 1rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

ul {
	text-align: left;
}

#vocab-field {
	font-size: 1.5rem;
}

li:hover {
	background-color: var(--clr-quaternary);
}

sup {
	display: none;
}

.display-sup {
	display: block;
	background-color: var(--clr-quinary-body);
}
