.jlpt-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(2, 50%);
	padding-block: 1rem;
	width: min(100%, 70rem);
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.jlpt-item {
	padding: 1rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-color: grey;
	border-style: double;
}

#vocab-field {
	text-align: left;
}

li:hover {
	background-color: #90ee90;
}

sup {
	display: none;
}

.display-sup {
	display: block;
	background-color: #a1dbf8;
}
