/* METADATA */

body {
	font-family: Lora, Georgia, 'Times New Roman', Times, serif;
	background-image: url(../assets/interlaced.png);
	background-color: #f6f6f6;
	background-blend-mode: multiply;

}

.animatedgradient {
	background: url(../assets/interlaced.png), linear-gradient(45deg, #EE7722, rgb(122, 114, 234), #73bcde, #62dd87);
	background-size: 20%, 400%;
	opacity: 1;
	position: relative;
	animation: spectrum 15s ease-in-out infinite, fade-in .25s ease-in;
}

@keyframes spectrum {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@keyframes fade-in {
	0% {
		opacity: .5;
	}

	50% {
		opacity: .75
	}

	100% {
		opacity: 1;
	}
}

.heading-container {
	background-color: black;
	opacity: 0.5;
	margin-left: 20%;
	margin-right: 20%;
}

#titleimage {
	margin-left: 45%;
	margin-right: 55%;
	margin-top: -15px;
	width: 10%;
	height: 10%;
	min-width: 175px;
	min-height: 175px;
	border-style: double;
	border-color: blue;
	border-radius: 50%;
}

a {
	color: inherit;
	text-decoration: solid;
	cursor: pointer;
}

a:hover {
	color:red;
}

.marker {
	color: #db8044;
	font-family: Permanent Marker, serif;
}

/* ELEMENTAL DATA */

.introduction {
	text-align: center;
	padding-bottom: 3%;
}

#musictitle {
	font-family: Futura, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 70px;
	margin-bottom: -0px;
	margin-top: -0px;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	background-clip: border-box;
	outline: blue;
	-webkit-background-clip: text;
	z-index: 2;

	color: transparent;
	user-select: none;
}

/* MODAL SETTINGS */

#info-modal {
	color:antiquewhite;
	display: none; /* To hide by default */
	position: fixed; /* to stay in place */
	z-index: 1; /* To stay on top */
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
  }

  #close-modal {
	  text-align: center;
	  font-size: 100px;
  }

/* TRACK CONTAINERS AND SONG INFO SETTINGS */

.trackcontainer-odd {
	font-family: Futura, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 30px;
	margin-left: 20%;
	margin-right: 40%;
	position: relative;

	letter-spacing: .2em;
	transition: 0.1s ease-out;
	color: white;
	background-image: none;
}

.trackcontainer-odd:hover {
	letter-spacing: .5em;
	transition: 0.1s ease-out;
	color: lightblue;
}

.trackcontainer-even {
	font-family: Futura, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 30px;
	margin-left: 40%;
	margin-right: 20%;
	position: relative;

	letter-spacing: .2em;
	transition: 0.1s ease-out;
	color: white;
	background-image: none;
}

.trackcontainer-even:hover {
	letter-spacing: .5em;
	transition: 0.1s ease-out;
	color: lightblue;
}

.trackbarrier {
	padding: 5px;
	background-color: rgba(117, 40, 40, 0.3);
	margin-left: 30%;
	margin-right: 30%;
}

.songinfo-odd {
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
	color: lightskyblue;
	margin-left: 36%;
	margin-right: 70%;
	padding: 2%;
	width: 40%;
	background-color: transparent;
	opacity: 0.6;
	position: absolute;
}

.songinfo-even {
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
	color: lightskyblue;
	margin-left: 20%;
	margin-right: 72%;
	padding: 2%;
	width: 40%;
	background-color: transparent;
	opacity: 0.6;
	position: absolute;
}

.songinfo-deploy {
	background-color: black;
	animation: songinfomove 1s ease-in;
}

@keyframes songinfomove {
	0% {
		opacity: .2;
	}
	50% {
		opacity: .4;
	}
	100% {
		opacity: .6;
	}
}

/* CURRENTLY PLAYING SETTINGS */

.currentlyplaying {
	color: red;
	letter-spacing: .5em;
	transition: 0.1s ease-out;
	background-color: transparent;
}

.currentlyplayingbox {
	background-color: black;
	background-image:
		linear-gradient(rgba(105, 89, 89, 0), rgba(1, 0, 0, 0.0)),
		url('../assets/favicon-32x32 copy.png');
	animation: iconmove 25s linear infinite;
}

@keyframes iconmove {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

.lyricprompt {
	text-align: center;
}

.lyrics {
	color: purple;
	font-size: 4em;
	font-family: Permanent Marker, serif;
}

.lyric-bar {
	background-color: transparent;
	opacity: 0.8;
	text-align: center;
	position: relative;
	/* z-index: 100; */
	/* margin-top: 20%; */
	/* width: 80%; */
}