/*	METADATA	*/
body {
	font-family: Futura, Avenir, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url(../assets/interlaced.png);
	background-color: #f6f6f6;
	background-blend-mode: multiply;
}

a {
	color: inherit;
	text-decoration: solid;
	outline: 0;
	cursor: pointer;
}

li{
	display: inline;
	text-align: left;
}

.marker {
	color: #db8044;
	font-size: 1em;
	font-family: Permanent Marker, serif;
}

.trackcontainer {
	background-color: rgba(0,0,0, 0.8);
	position: relative;
	text-align: center;
	top: 25%;
	height: 50%;
	width: 50%;

	letter-spacing: .2em;
	display: block;
	transition: 0.1s ease-out;
	color: white;
	background-image: none;
}

/* #meaningtune {
	letter-spacing: .2em;
	display: block;
	transition: 0.1s ease-out;
	color: white;
	background-image: none;
} */

#meaningtune:hover {
	letter-spacing: .5em;
	transition: 0.1s ease-out;
	color: lightblue;
}

.currentlyplaying {
	color:red;
	letter-spacing: .5em;
	transition: 0.1s ease-out;
}

