/* |==========| THE PEN |====================> */

.blogging-font {
	color: cadetblue;
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: normal; /*400..700*/
	text-align: left;

	padding-left: 1rem;
	line-height: 2rem;
}

/* |==========| THREE-COLUMN GRID |====================> */
/* |==========| HEADER, GRID, AND EACH COLUMN |====================> */

.blog-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	background: rgba(144, 229, 238, 0.1);
}
.blog-grid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 2rem;
	gap: 1rem;
}
.blog-item {
	padding: 1rem;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	border-width: 0.3rem;
	max-height: 40rem;
	background: rgba(144, 229, 238, 0.1);
}


/* |==========| CENTER COLUMN |====================> */
#blog-post-articles {
	position: sticky;
	background:#0f0b0789;
	overflow-y: scroll;
}
/* |==========| ACTUAL WRITTEN POSTS |====================> */

.blog-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	background: rgba(144, 229, 238, 0.1);
}
.blog-grid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 2rem;
	gap: 1rem;
	
	
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center; */
	
}
.blog-item {
	padding: 1rem;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	border-width: 0.3rem;
	max-height: 40rem;
	background: rgba(144, 229, 238, 0.1);
}


/* |==========| LEFT COLUMN |====================> */
#blog-post-listings {
	box-sizing: border-box;
	flex: 1;
	position: sticky;
	overflow: auto;
	scroll-behavior: smooth;
}
/* |==========| LIST OF BLOG POSTS AND SELECTIONS |====================> */

#active-blog-post {
	text-align: left;
}
#blog-post-list > li {
	text-align: left;
	list-style-type: none;
}
#blog-post-inside-list:hover {
	background: red;
}
.blog-post-inside-list {
	text-align: center;
}
.listed-title {
	font-family: monospace;
	font-size: smaller;
	color: var(--clr-secondary);
}
.listing-highlight {
	background-color: var(--cmbr-dark-grey);
}
.listing-none {
	display: none;
}

/* |==========| RIGHT COLUMN |====================> */
#blog-post-media {
	flex: 1;
	position: sticky;
	align-items: center;
	justify-content: center;
}
/* |==========| BLOG MEDIA STYLES FOR MAPS, PHOTOS, & MORE |====================> */

#blog-tags {
	height: 5rem;
	width: 100%;
	outline: 0.1rem dotted crimson;
}

#blog-map {
	height: 10rem;
	width: 100%;
	outline: 0.1rem dotted magenta;
}

#blog-photos {
	height: 10rem;
	width: 100%;
	outline: 0.1rem dotted salmon;
}

#blog-music {
	height: 10rem;
	width: 100%;
	outline: 0.1rem dotted cyan;
}