/* ----- BLOG POSTING ----- */


.blog-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#blog-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.blog-dropdown {
	background-color: var(--clr-quinary-body);
	border: 1px solid #888;
	width: fit-content; /* Could be more or less, depending on screen size */
}

.blog-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	border-radius: 1rem;
	gap: 1rem;
}

.blog-item {
	padding: 1rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--cmbr-curtain-plum) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#blog-post-content {
	flex: 1 1 60%;
	position: sticky;
}

#blog-post-list-content {
	flex: 1 1 20%;
	/* display: block; */
	position: sticky;
	/* margin-left: 50%; */
}

.marker-blogging {
	font-family: Permanent Marker, serif;
	color: var(--clr-tertiary);
}

.blog-post-header {
	text-align: left;
}

#active-blog-post {
	text-align: left;
}

#blog-post-list > li {
	text-align: left;
	list-style-type: none;
}

#blog-post-list > li:hover {
	background: var(--clr-quinary-body);
}

.blog-post-inside-list {
	text-align: center;
}

.listed-title {
	font-family: monospace;
	font-size: smaller;
	color: var(--clr-secondary);
}

.listing-highlight {
	background-color: var(--clr-quaternary);
}

.listing-none {
	display: none;
}