/* ----- BLOG POSTING ----- */


.blog-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	border-bottom: none;
	background: rgba(144, 229, 238, 0.1);
}

#blog-quick-links {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

.blog-grid {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	/* border: 0.1rem solid var(--clr-tertiary); */
	border-radius: 1rem;
	gap: 1rem;
}

.blog-item {
	padding: 1rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-width: 0.3rem;
	border-style: double;
	border-color: grey;
	background: rgba(144, 229, 238, 0.1);
}

#blog-post-content {
	flex: 1 1 50%;
}

#blog-post-list-content {
	flex: 1 1 20%;
}

.marker-blogging {
	font-family: Permanent Marker, serif;
	color: var(--clr-tertiary);
}

.blog-post-header {
	text-align: left;
}

#active-blog-post {
	text-align: left;
}

#blog-post-list > li {
	text-align: left;
	list-style-type: none;
}

#blog-post-list > li:hover {
	background: var(--clr-quinary-body);
}

.blog-post-inside-list {
	text-align: center;
}

.listing-highlight {
	background-color: var(--clr-quaternary);
}
