body {
	min-height: 100vh;
}

.w-grid {
	display: grid;
	
	/* margin: auto; */
	margin-inline: auto;
	margin-left: 15%;
	box-sizing: border-box;
	width: min(95%, 100rem);
	
	/* gap: 1.5rem;  */
	/* for vertical and horizontal spacing */
	grid-template-columns: repeat(3, 25%); /* repeat(4, 25%) */
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-col-span-3 {
	grid-column: span 3;
}

.grid-col-span-4 {
	grid-column: span 4;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.grid-row-span-3 {
	grid-row: span 3;
}

.grid-row-span-4 {
	grid-row: span 4;
}

/* ----- FIRST TESTING GRID ----- */

.w-item {
	display: block;
	box-sizing: border-box;
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;


	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1.5rem;
	border-right-color: grey;
	border-right-style: groove;
	
	/* max-height: fit-content;
	max-width: fit-content; */

}

.w-item-over {
	padding: 0.2rem;
	border-radius: 0.5rem;
	border-top-width: 0.5rem;
	border-left-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-right-width: 0.5rem;
	transition: border-right-width 0.2s ease-in;
	transition: border-bottom-width 0.2s ease-in;
	transition: padding 0.3s ease-in;
}

.w-item-leave {
	transition: border-right-width 0.2s ease-out;
	transition: border-bottom-width 0.2s ease-out;
	transition: padding 0.2s ease-out;
}

/* ----- MAINFRAME GRID ----- */

#mainframe-grid {
	text-align: left;
	font-family: monospace;
}

#mainframe-writing {
	color: chartreuse;
	background-color: black;
}

#mainframe-writing:focus {
	border: 0.3rem double red;
}