<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta name="referrer" content="origin" /> -->
	<link rel="shortcut icon" href="..images/cmbr-sig.svg">
	<link rel="stylesheet" type="text/css" href="../styles.css" media="screen" />
	<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> -->
	<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.6/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
	<script src="../htmx.js"></script>
	<script src="../cmbr.js"></script>
	<script src="auth-manager.js"></script>
	<title>Chrispy's TEMPLATE</title>
</head>

<body data-theme="dark">

	<nav hx-get="../template/nav.html" hx-target="#nav" hx-trigger="load" hx-swap="innerHTML">
		<div id="nav">

		</div>
	</nav>


	<main class="index-grid">



		<div class="index-item flex-table">
			<h1 class="marker-green">Database Tester</h1>
			<p id="auth-status" style="font-weight: bold; margin: 0.5rem 0;">Not logged in</p>
			<br>
			<form id="logout-button" action="/api/auth/logout" method="POST">
				<button class="trigger-box" id="logout">Logout</button>
			</form>
			<hr class="hr-cmbr-gradient">
			<hr class="hr-groove-top">

			<div>
				<h2 class="marker">Registration</h2>
				<hr class="hr-trans">
				<hr class="hr-push-down">
				<form id="register-form" action="/api/auth/register" method="POST" class="grid-col-1-1">
					<label for="register-username">Enter username &emsp;</label>
					<input type="text" id="register-username" name="username" autocomplete="username" required>

					<label for="new-password">Enter password &emsp;</label>
					<input type="password" id="new-password" name="password" autocomplete="new-password" required>

					<label for="email">Enter email &emsp;</label>
					<input type="email" id="email" name="email" autocomplete="email" required>

					<div></div>
					<button type="submit">Register</button>
				</form>
				<hr class="hr-push-up">
			</div>

			<div>
				<h2 class="marker">Login</h2>
				<hr class="hr-trans">
				<hr class="hr-push-down">
				<form id="login-form" action="/api/auth/login" method="POST" class="grid-col-1-1">
					<label for="login-username">Enter username &emsp;</label>
					<input type="text" id="login-username" name="username" autocomplete="username" required>

					<label for="current-password">Enter password &emsp;</label>
					<input type="password" id="current-password" name="password" autocomplete="current-password" required>
					
					<div></div>
					<button type="submit">Login</button>
				</form>
				<hr class="hr-push-up">
			</div>

			<div>
				<h2 class="marker">Make Note</h2>
				<hr class="hr-trans">
				<hr class="hr-push-down">
				<form id="make-note-form" action="/api/notes/" method="POST" class="grid-col-1-1">
					<label for="title">Title &emsp;</label>
					<input type="text" id="title" name="title" required>

					<label for="tags">Tags &emsp;</label>
					<input type="text" id="tags" name="tags" required>

					<label for="location">Location &emsp;</label>
					<input type="text" id="location" name="location">

					<label for="photos">Photos &emsp;</label>
					<input type="text" id="photos" name="photos">

					<label for="audio">Audio &emsp;</label>
					<input type="text" id="audio" name="audio">

					<label for="body">Body &emsp;</label>
					<textarea id="body" name="body" rows="4"></textarea>


					<div></div>
					<button type="submit">Make Note!</button>
				</form>
				<hr class="hr-push-up">
			</div>

			<div class="" hx-trigger="load" hx-get="/api/notes/" hx-target="#all-notes-display" hx-swap="innerHTML">
				<h2 class="marker-green">All Notes</h2>
				<hr class="hr-cmbr-dark-gradient">
				<hr class="hr-push-down">
			<div>
			<div id="dashboard-note-table" class="flex-table">
				<div class="flex-table-header grid-col-1-3-1">
					<div>Note</div>
					<div>Info</div>
					<div>Tags</div>
				</div>
				<div id="all-notes-display">
					
					<!-- <div>|=====|</div>
					<div>|=====| No Result |=====|</div>
					<div>|=====|</div>
					<div>Impermanence</div>
					<div>The concept that nothing lasts forever. Do not attach to the expectation for anything to remain.
						Positive expectation may arise negative experience; negative expectation may arise positive experience.
					</div>
					<div>philosophy</div> -->
				</div>
			</div>
		</div>

			</div>

			

		</div>


		</div> <!-- End Table -->

		<hr class="hr-push-down">

	</main>


</body>


</html>