/*	METADATA	*/
body {
	font-family: Futura, Avenir, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image:
	linear-gradient(rgba(1, 0, 0, 0.0), rgba(1, 0, 0, 0.0)),
	url(../assets/interlaced.png);
	background-color: #f6f6f6;
	background-blend-mode: multiply;
}

a {
	color: inherit;
	text-decoration: solid;
	outline: 0;
	cursor: pointer;
}

.marker {
	color: #db8044;
	font-size: 1em;
	font-family: Permanent Marker, serif;
}

.plan-name{
	color: black;
	font-family: Lora, sans-serif;
	text-align: left;
	margin-left: 10px;
	position: relative;
}

.plan-info{
	color: black;
	font-family: Lora, sans-serif;
	text-align: left;
	margin-left: 10px;
	position: relative;
}

#personalrecordtitle {
	font-style: normal;
	text-align: left;
	font-weight: 1500;
	font-size: 50px;
	background: linear-gradient(#f59b60 20%, #a1dbf8 100%);
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
}

.programorconcentration {
	margin-left: 25px;
	background-repeat: no-repeat;
	background-size: 75% 15%;
	background-position: 0 88%;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
	transition: background-size  .3s ease-in;
}

.programorconcentration:hover{
	background-size: 100% 100%;
}

.sub-courses {
	margin-left: 25px;
}

#credit-info {
	margin-left: 25px;
}

#credit-info-or {
	margin-left: 25px;
}

#credit-info-ecu {
	margin-left: 25px;
}

#credit-info-psu {
	margin-left: 25px;
}

#credit-info-upn {
	margin-left: 25px;
}

.takinghighlight{
	color: blue;
}

.cpcreqhighlight{
	color: red;
}

.gcpreqhighlight{
	color: red;
}

.mcsreqhighlight{
	color: red;
}

.osureqhighlight{
	color: red;
}

.ecureqhighlight{
	color: red;
}

.psureqhighlight{
	color: red;
}

.upnreqhighlight{
	color: red;
}

.container {
	display: grid;
	grid-template-columns: [first] 450px [line2] 450px [line3] 450px [end];
	grid-template-rows: 
	[row1-start] auto [row1-end] auto
	[row2-start] auto [row2-end] auto
	[row-3start] auto [row-3end] auto;
	column-gap: 10px;
	color: black;
	font-family: Lora, sans-serif;
	text-align: left;
	margin-left: 10px;
	position: relative;
}

@media screen and (max-width: 768px) {
}
	.container {
		grid-template-columns: [first] auto end;
	}
	

.item-aas {
	background-color: #f6f3ed;
	grid-column-start: 1;
	grid-column-end: line2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
  }

.item-cpc {
	background-color: #f6f3ed;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-mcs {
	background-color: #f6f3ed;
	grid-column-start: line3;
	grid-column-end: end;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-bso {
	background-color: #f6f3ed;
	grid-column-start: first;
	grid-column-end: line2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-mat-option1 {
	background-color: #f6f3ed;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-mat-option2 {
	background-color: #f6f3ed;
	grid-column-start: line3;
	grid-column-end: end;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-ecu {
	background-color: #f6f3ed;
	grid-column-start: first;
	grid-column-end: line2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-ecu-electives {
	background-color: #f6f3ed;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-ecu-credits {
	background-color: #f6f3ed;
	grid-column-start: line3;
	grid-column-end: end;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-psu {
	background-color: #f6f3ed;
	grid-column-start: first;
	grid-column-end: line2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-psu-electives {
	background-color: #f6f3ed;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-psu-credits {
	background-color: #f6f3ed;
	grid-column-start: line3;
	grid-column-end: end;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-upn {
	background-color: #f6f3ed;
	grid-column-start: first;
	grid-column-end: line2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-upn-electives {
	background-color: #f6f3ed;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}

.item-upn-credits {
	background-color: #f6f3ed;
	grid-column-start: line3;
	grid-column-end: end;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
}


.item-info {
	text-align: center;
	grid-column-start: line2;
	grid-column-end: line3;
	grid-row-start: row1-start;
	grid-row-end: row1-end;
}
