/* ----- WORKSPACE SPECIFIC ----- */
.blog-header {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	background: rgba(144, 229, 238, 0.1);
}
.blog-grid {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 2rem;
	gap: 1rem;
}
.blog-item {
	padding: 1rem;
	box-shadow: -0.1rem -0.1rem 0.5rem rgb(12, 11, 71);
	border-width: 0.3rem;
	max-height: 40rem;
	background: rgba(144, 229, 238, 0.1);
}
/* #nav-dropdowns {
	background-image: url("../assets/image-curtain.svg"); 
} */

.trigger {
	flex: 1;
	font-family: "VT323", monospace;
	color: var(--clr-primary);
	border: 0.5rem groove black;
	margin-inline: 2rem;
	height: fit-content;
	width: fit-content;
	z-index: 10;
	background-color: rgba(0, 0, 0, 80%);
}
.trigger-access {
	font-family: "VT323", monospace;
	right: 0;
	padding: 0.2rem;
}
.kipbox {
	font-size: 4rem;
	font-family: "VT323", monospace;
	color: black;
	background: var(--cmbr-gradient);
	background-clip: border-box;
	background-repeat: repeat;
	-webkit-background-clip: content-box;
}
.kipbox:hover {
		color: var(--cmbr-indigo);
}

/* ----- CHIRON ----- */

#chiron {
	box-sizing: border-box;
	border: 1rem solid transparent;
	width: 100%;
	min-width: 100%;
	height: 3rem;
	overflow-x: hidden;
	overflow: hidden;
}
#chiron-span {
	display: block;
	box-sizing: border-box;
	opacity: 50%;
	width: max-content;
	height: 2rem;
	margin-bottom: 1rem;
	border-radius: 0.1rem;
	background-image: transparent;
	animation-name: chiron-action;
	animation-duration: 10s;
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-iteration-count: infinite;
	animation-direction: reverse;
	overflow-x: hidden;
	overflow: hidden;
}

/* ----- OLD GRID BLOCKS ----- */

.n-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	margin-bottom: 2rem;
}
.n-item {
	flex: 1;
	box-sizing: border-box;
}
.n-item:hover {

	color: var(--cmbr-violet);
	transition: all 0.6s ease-in;

}
.n-item:not(:hover) {
	transition: color 0.6s ease-out;
}

/* ----- NEUMORPHISM ----- */

.neu-item-grid {
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	padding: 5rem;
	column-gap: 3rem;
	background: #25213a;
}
.neu-item {
	flex: 1;
	text-align: center;
	align-content: center;
	width: 5rem;
	height: 5rem;
	border: 0.5rem groove transparent;
	border-radius: 1rem;
	background: linear-gradient(145deg, #2c2844, #25213a);
	box-shadow:  1rem 1rem 3rem #1d1a2d, -1rem -1rem 3rem #353053;
}
.neu-item-highlight {
	color: cadetblue;
	box-shadow: 1rem 1rem 0.5rem rgba(17, 25, 40, 0.75);
}
.neu-item-depressed {
	color: darkred;
	background: linear-gradient(145deg, #25213a, #2c2844);
	box-shadow:  1rem 1rem 3rem #1d1a2d, -1rem -1rem 3rem #353053;
	transition: box-shadow 1s ease-in;
}
.neu-item-depressed:hover {
	box-shadow: 0.1rem 0.1rem 0.2rem darkred;
}

/* ----- CAMBERDEN GRADIENT BAR BOXES ----- */

.c-grid {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	
}
.c-item {
	flex: 1;
	border: 0.5rem double transparent;
	border-style: groove;
	border-color: transparent;
	box-sizing: border-box;
}
.c-item:hover {
	color: var(--cmbr-violet);
	border-color: black;
	transition: border-color 0.6s ease-in-out;
	animation-name: flashy;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.c-item:not(:hover) {
	transition: border-color 0.6s ease-out;
}

/* ----- GLASSMORPHISM ----- */

.gla-item-grid {
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	padding: 5rem;
	column-gap: 3rem;
	background-image: url("../assets/sorghum-field.jpg");
	background-size: cover;
}
.gla-item {
	flex: 1;
	color: transparent;
	text-align: center;
	align-content: center;
	width: 5rem;
	height: 5rem;
	backdrop-filter: blur(0.2rem) saturate(90%);
    -webkit-backdrop-filter: blur(0.2rem) saturate(90%);
    background-color: rgba(17, 25, 40, 0.75);
	background-image: transparent;
	/* text-shadow: #f59b60; */
    border: 1rem solid transparent;
	

	/* box-shadow:  1rem 1rem 3rem #1d1a2d,
             -1rem -1rem 3rem #0c072c; */
}
.gla-item:hover {
	color: var(--cmbr-indigo);
	background-color: rgba(17, 25, 40, 0.0);
	background-image: var(--cmbr-gradient);

	border: 1rem double var(--cmbr-indigo);
	transition: all 1s ease-in;

}

/* ----- COLLAPSABLE DROPDOWNS ----- */

#dropdown-header {
	box-sizing: border-box;
	margin-top: 3rem;
	margin-bottom: 3rem;
	align-self: center;
	height: max-content;
}
.dropdown-grid {
	display: flex;
	flex-flow: row nowrap;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	/* column-gap: 2rem; */
	align-items: baseline;
	max-width: 100%;
	max-height: fit-content;
}
.dropdown-content {
	flex: 1;
	flex-flow: row wrap;
	overflow-x: visible;
	font-family: "VT323", monospace;
	text-align: left;
}
.dropdown-content > ul {
	counter-reset: item;
}
.dropdown-content > ul > li {
	list-style-type: none;
	counter-increment: item;
}
.dropdown-content > ul > li:hover {
	background: midnightblue;
	color: fuchsia;
}
.dropdown-content > ul > li::before {
	content: counter(item) " → ";
}
.dropdown {
	border: 0.5rem groove black;
	width: 100%;
	height: fit-content;
	text-align: center;
	/* background-color: black; */
	background-color: rgba(0, 0, 0, 80%);
}
.dropdown-curtain:hover {
	cursor: pointer;
	background: darkslateblue;
	color: rosybrown;
}
.dropdown-access {
	font-family: "VT323", monospace;
	width: fit-content;
	padding: 0.2rem;
}
.dropdown-opened:not:first-child {
	position: sticky;
}

/* ----- FOOTER AND KEYFRAMES ----- */

#workspace-footer {
	bottom: 0;
	background: linear-gradient(var(--cmbr-degrees), black, #430766, #2c2844, #2a198a, black);
}
@keyframes groovymove {
	33% {
		background-clip: border-box;
		border-width: 0.2rem;
	}
	66% {
		border-width: 0.4rem;
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		border-width: 0.5rem;
	}	
}
@keyframes flashy {
	33% {
		text-shadow: -5px -2px 0px rgb(81, 12, 170);
	}
	66% {
		text-shadow: -5px -2px 0px rgb(133, 12, 170);
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		text-shadow: transparent;

	}
}
@keyframes chiron-action {
	0% {
		margin-left: -25rem;
		margin-right: 0rem;
		/* left: 0; */
	/* } 25% {
		margin-left: 25rem;
	} 50% {
		margin-left: 50rem;
	} 75% {
		margin-left: 75rem; */
	} 100% {
		margin-left: 100rem;
		margin-right: 10rem;
	}
}

/* |==========| §NAVIGATION CHARTER |====================> */
/* |==========| LEFT-SIDE DROPDOWN FOR SITE MAP NAVIGATION |====================> */
html {
	scrollbar-color: var(--cmbr-curtain-plum) var(--cmbr-blass);
}
nav {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 3rem;
	background-image: url("../assets/image-curtain.svg");
}
.nav-sail {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-row-span: 2;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3rem;
	max-height: 3rem;
	z-index: 100;
	border-bottom: 0.5rem groove black;
	background-image: url("../assets/image-curtain.svg");
	/* background: var(--cmbr-grid-box); */
}
#nav-1 {
	contain: style;
}
#nav-2 {
	text-align: right;
}
#nav-3 {
	text-align: center;
	/* background: rgba(0, 0, 255, 0.131); */
	/* border-left: 0.5rem ridge black; */
	/* border-right: 0.5rem ridge black; */
}
#nav-4 {
	text-align: left;
}
#nav-5 {
	position: fixed;
	right: 0;

}
.h1-lamp {

	font-size: 2rem;
	font-family: "PermanentMarker", monospace;
	background: var(--cmbr-legacy-gradient);
	background-clip: border-box;
	-webkit-background-clip: text;
	background-repeat: no-repeat;
	color: transparent;
	/* text-shadow: #ffcc00 2rem 1rem 5rem; */
	/* animation: 30s linear shadow-fade infinite; */
}
.hr-blass {
	width: 100%;
	height: 1rem;
	backdrop-filter: blur(0.2rem) saturate(90%);
    -webkit-backdrop-filter: blur(0.2rem) saturate(90%);
    background-color: rgba(4, 6, 17, 0.75);
	background-image: transparent;
	background-size: cover;
	position: fixed;
}
#nav-sig {
	display: inline-flex;
	flex: 1;
	z-index: 200;
	box-sizing: content-box;
	position: fixed;
	top: 0;
	width: 3rem;
	height: 10rem;
	background-image: url("../images/cmbr-sig.svg");
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(30deg);
}
.nav-hoist {
	width: 100%;
}
#nav-anchor {
	position: fixed;
}
.chart-opened::after {
	content: attr(item) " ↓";
}
#chart-access {
	z-index: 300;
	position: relative;
	font-family:  monospace;
	font-size: 1rem;
	color: var(--cmbr-blue);
    margin-inline-end: 100%;
    max-height: 3rem;
    width: max-content;
	box-sizing: border-box;
	border: 0.3rem solid black;
	border-bottom: 0.3rem groove black;
	background: rgb(37, 37, 37);
	
}
#chart-access:hover {
	cursor: pointer;
	color: cadetblue;
	border-bottom: 0.3rem groove black;
	background-color: var(--cmbr-curtain-plum);
}
#chart-access:active {
	color: burlywood;
	background-color: rgb(16, 16, 16);
	
}
#chart-dropdown {
	position: fixed;
	left: 0;
	z-index: 300;
	border: 0.5rem groove black;
	padding: 0.2rem;
	width: fit-content;
	height: auto;
	text-align: start;
	background-color: black;
	/* overflow-y: scroll !important; */
}
#chart-dropdown > #chart-links > .section-title {
	padding: 0.5rem !important;
	font-size: 1rem !important;
}




