body {
	/* display: grid; */
	/* place-content: center; */
	min-height: 100vh;
  
  }

.w-grid {
	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(3, 25%); /* repeat(4, 25%) */

	padding-block: 2rem;
	width: min(95%, 70rem);
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-col-span-3 {
	grid-column: span 3;
}

/* ----- FIRST TESTING GRID ----- */

.w-item {
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;


	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1.5rem;
	border-right-color: grey;
	border-right-style: groove;
	
}

.w-item:hover {
	padding: 2.2rem;
	border-radius: 0.5rem;
	border-top-width: 0.5rem;
	border-left-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-right-width: 0.5rem;
	
}

button {

	/* padding: 2rem; */
	border-radius: 0.5rem;
	/* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25); */
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;


	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1rem;
	border-right-color: grey;
	border-right-style: groove;
}

button:hover {
	background-color: aquamarine;
}

.button-highlight {
	background-color: red;
}

.button-highlight-2 {
	background-color: blue;
	padding: 2.5rem;
	border-radius: 2rem;
	border-top-width: 2rem;
	border-left-width: 2.5rem;
	border-bottom-width: 2.5rem;
	border-right-width: 2.5rem;
}

.w-item:last-child {
	background: red !important;
	/* grid-column: span 2; goes across 2 gridspaces */
	grid-column-start: 4; /* starts after gridspace 4 */
	/* grid-row-start: 1; places it on first row */
	grid-row-start: 1;
	grid-row-end: span 2; /* goes across 2 rows, expanding column!  can just say grid-row: 1 / 3 (based on grid lines) */
}

.w-item:nth-child(3) {
	background: blue !important;

}

/* ----- SECOND TESTING GRID ----- */


.w2-grid {

	display: grid;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(3, 33%); /* repeat(4, 25%) */


	padding-block: 1rem;
	width: min(90%, 70rem);
	margin-inline: auto;

}

.w2-item {

	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	border-color: red;
	border-style: double;

}

/* ----- LIST TRAVERSAL AND ITEM SELECTION ----- */

.highlight {
	color: red;
	letter-spacing: .5em;
	transition: 0.1s ease-out;
	background-color: transparent;
}

#item-list > li {
	text-align: left;
	list-style-type: none;
}
#item-list > li:hover {
	background: lightgreen;
}