/* NORMALIZATION & ROOT VARIABLES */

* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;vertical-align: baseline; }


body {
	box-sizing: border-box;
	min-height: 100vh;
}

.w-grid {
	display: grid;
	border: 0.5rem darkcyan solid;
	box-sizing: content-box;
	gap: 1.5rem; /* for vertical and horizontal spacing */
	grid-template-columns: repeat(3, 25%); /* repeat(4, 25%) */

	/* padding-block: 2rem; */
	width: max(100%, 70rem);
	/* height: min(100%, 30rem); */
	margin-inline: auto;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-col-span-3 {
	grid-column: span 3;
}

.grid-col-span-4 {
	grid-column: span 4;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.grid-row-span-3 {
	grid-row: span 3;
}

.grid-row-span-4 {
	grid-row: span 4;
}

/* ----- NAVBAR TESTER ----- */

.nav-col-grid {
	display: flex;
	flex-flow: column wrap;
	align-items: baseline;
}

.nav-row-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

#nav-image {
	width: 1.2rem;
	height: 1.2rem;
	transform: rotate(300deg);
}

#nav-header {
	outline: 0.2rem dotted rebeccapurple;
}

#nav-center {
	/* outline: 0.2rem dotted rosybrown; */
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
	background-color: rgba(0, 0, 0, 80%);
	/* padding: 1rem; */
}

#nav-footer {
	/* outline: 0.2rem dotted cadetblue; */
	width: 100%;
	height: 100%;
	/* padding: 1rem; */
	background-color: rgba(0, 0, 0, 40%);

}

#nav-dropdown {
	outline: 0.5rem groove black;
	/* top: 2rem; */
	right: 0;
	height: fit-content;
	text-align:end;
	width: fit-content;
	position: fixed;
	z-index: 100;
	/* background-image: linear-gradient(brown, rosybrown); */
	background-color: rgba(0, 0, 0, 80%);
}

#nav-access {
	font-family: 'Courier New', Courier, monospace;
	right: 0;
	padding: 0.2rem;
}

.nav-opened {
	content: "Test";
}

#nav-arrow {
	font-family: 'Courier New', Courier, monospace;
}	

h1 {
	font-size: larger;
}

.common-highlight {
	color: var(--clr-secondary);
}

hr {
	background-image: linear-gradient(var(--clr-gradient-common));
	width: 100%;
	color: var(--clr-secondary);
	height: 0.5rem;
	/* border: 0.1rem solid var(--clr-quaternary); */
	opacity: 20%;
	/* background-color: var(--clr-primary); */
}

footer {
	bottom: 0;
}


/* ----- FIRST TESTING GRID ----- */



.w-item {
	/* padding: 0.4rem; */
	border-radius: 0.5rem;
	box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
	box-sizing: border-box;

	margin-inline: auto;
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;


	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1.5rem;
	border-right-color: grey;
	border-right-style: groove;
	
}

.w-item > div{
	/* max-width: fit-content; */
	border: 0.5rem chartreuse solid;
	box-sizing: border-box;
	padding: 0.5rem;
}


.w-item:hover {

	padding: 0.4rem;
	border-radius: 0.5rem;
	border-top-width: 0.5rem;
	border-left-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-right-width: 0.5rem;
	transition: border-right-width 0.6s ease-in;
	transition: border-bottom-width 0.6s ease-in;
	transition: padding 0.6s ease-in;

	:where(.w-item > div) {
		/* max-inline-size: initial; */
		color: orange;

		/* ::after {
			content: "  sudoz";
		} */
	}
}

:not(.w-item:hover) {
	transition: border-right-width 0.6s ease-out;
	transition: border-bottom-width 0.6s ease-out;
	transition: padding 0.6s ease-out;
	:where(.w-item > div) {
		/* transition: border-right-width 0.2s ease-out;
		transition: border-bottom-width 0.2s ease-out;
		transition: padding 0.6s ease-out; */
	}

}

.w-item:last-child {
	background: red !important;
	/* grid-column: span 2; goes across 2 gridspaces */
	grid-column-start: 4; /* starts after gridspace 4 */
	/* grid-row-start: 1; places it on first row */
	grid-row-start: 1;
	grid-row-end: span 2; /* goes across 2 rows, expanding column!  can just say grid-row: 1 / 3 (based on grid lines) */
}

.w-item:nth-child(3) {
	background: blue !important;

}

/* ----- LIST TRAVERSAL AND ITEM SELECTION ----- */

.n-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	/* grid-template-columns: repeat(5, 20%); */

	/* padding-block: 2rem; */
	/* width: max(75%, 70rem); */
	/* height: min(100%, 30rem); */
	/* margin-inline: auto; */
	
}

.n-item {
	/* border-top-width: 0.5rem;
	border-left-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-right-width: 0.5rem; */
	flex: 1;
	border: 0.5rem double transparent;
	outline: 0.2rem dotted blue;
	border-style: groove;
	border-color: transparent;
	box-sizing: border-box;
}

.n-item:hover {
	border-color: blueviolet;

	transition: border-color 0.6s ease-in;
	animation-name: groovymove;
	animation-duration: 0.6s;
	animation-iteration-count: initial;

}

.n-item:not(:hover) {
	transition: border-color 0.6s ease-out;
}

.eremoran-kiptascript {
	font-family: eremoran-kiptascript;
	font-size: 2rem;
}

@keyframes groovymove {
	33% {
		background-clip: border-box;
		border-width: 0.2rem;
	}
	66% {
		border-width: 0.4rem;
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		border-width: 0.5rem;
	}	
}

@keyframes flashy {
	33% {
		text-shadow: -5px -2px 0px rgb(81, 12, 170);
	}
	66% {
		text-shadow: -5px -2px 0px rgb(133, 12, 170);
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		text-shadow: transparent;

	}
}