/* NORMALIZATION & ROOT VARIABLES */

* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;vertical-align: baseline; }

body {
	box-sizing: border-box;
	min-height: 100vh;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.grid-col-span-3 {
	grid-column: span 3;
}

.grid-col-span-4 {
	grid-column: span 4;
}

.grid-row-span-2 {
	grid-row: span 2;
}

.grid-row-span-3 {
	grid-row: span 3;
}

.grid-row-span-4 {
	grid-row: span 4;
}

/* ----- NAVBAR TESTER ----- */

.nav-col-grid {
	display: flex;
	flex-flow: column wrap;
	align-items: baseline;
}

.nav-row-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	/* justify-items: baseline; */
}

.inline-signature {
	box-sizing: border-box;
	position: absolute;
	/* outline: 0.2rem dotted rosybrown; */
	margin-top: 0.25rem;
	width: 2rem;
	height: 2rem;
	background-image: url("../assets/image-camberden-signature-6.svg");
	background-repeat: no-repeat;
	background-size: auto;
	transform: rotate(30deg);
}

#current-section {
	font-size: 0.9rem;
}

#nav-top {
	background-clip: border-box;
	background: linear-gradient(var(--cmbr-degrees), black, #430766, #2c2844, #2a198a, black);
	fill-opacity: 100%;

}

#nav-header {
	align-self: center;
}

#nav-center {
	column-gap: 0.1rem;
	background-color: rgba(0, 0, 0, 80%);
	padding: 1rem;
}

#nav-dropdown {
	border: 0.5rem groove black;
	/* outline: 0.1rem dotted rosybrown; */
	/* right: 0; */
	left: 0;
	height: fit-content;
	text-align: start;
	width: fit-content;
	position: fixed;
	z-index: 100;
	background-color: black;
	/* background-color: rgba(0, 0, 0, 80%); */
}

#nav-access {
	font-family: "VT323", monospace;
	right: 0;
	padding: 0.2rem;
}

#bookmarks-dropdown {
	border: 0.5rem groove black;
	/* outline: 0.1rem dotted rosybrown; */
	/* right: 0; */
	right: 0;
	height: fit-content;
	text-align: start;
	width: fit-content;
	position: fixed;
	z-index: 100;
	background-color: black;
}

#bookmarks-access {
	font-family: "VT323", monospace;
	right: 0;
	padding: 0.2rem;
}

.trigger {
	flex: 1;
	font-family: "VT323", monospace;
	color: var(--clr-primary);
	border: 0.5rem groove black;
	margin-inline: 2rem;
	height: fit-content;
	width: fit-content;
	z-index: 10;
	background-color: rgba(0, 0, 0, 80%);
}

.trigger-access {
	font-family: "VT323", monospace;
	right: 0;
	padding: 0.2rem;
}

.nav-opened {
	content: normal;
}

.bookmarks-opened {
	content: normal;
}

h1 {
	font-size: larger;
}

.common-highlight {
	color: var(--clr-secondary);
}

.kipbox {
	font-size: 4rem;
	font-family: "VT323", monospace;
	color: black;
	background: var(--cmbr-gradient);
	background-clip: border-box;
	background-repeat: repeat;
	-webkit-background-clip: content-box;
}

.kipbox:hover {
		color: var(--cmbr-indigo);
}

/* ----- HORIZONTAL RULES ----- */

.hr-cmbr-dark-gradient {
	background-image: var(--cmbr-dark-gradient);
	width: 100%;
	height: 0.5rem;
}

.hr-groove-top {
	border-top: 0.5rem groove black;
}

.hr-groove-bottom {
	border-bottom: 0.5rem groove black;
	width: 100%;
	box-shadow:  1rem 1rem 2rem rgb(25, 23, 144), 0rem 0rem 2rem rgb(221, 122, 94);
	margin-bottom: 3rem;
}

.hr-cmbr-gradient {
	background-image: var(--cmbr-gradient);
	width: 100%;
	height: 0.5rem;
	opacity: 50%;
}

.hr-cmbr-gradient:nth-of-type(odd) {
		-webkit-transform: scaleX(-1);
  		transform: scaleX(-1);
}

/* ----- OLD GRID BLOCKS ----- */

.n-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	margin-bottom: 2rem;
}

.n-item {
	flex: 1;
	box-sizing: border-box;
}

.n-item:hover {

	color: var(--cmbr-violet);
	transition: all 0.6s ease-in;

}

.n-item:not(:hover) {
	transition: color 0.6s ease-out;
}

/* ----- NEUMORPHISM ----- */

.neu-item-grid {
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	padding: 5rem;
	column-gap: 3rem;
	background: #25213a;
}

.neu-item {
	flex: 1;
	text-align: center;
	align-content: center;
	width: 5rem;
	height: 5rem;
	border: 0.5rem groove transparent;
	border-radius: 1rem;
	background: linear-gradient(145deg, #2c2844, #25213a);
	box-shadow:  1rem 1rem 3rem #1d1a2d, -1rem -1rem 3rem #353053;
}

.neu-item-highlight {
	color: cadetblue;
	box-shadow: 1rem 1rem 0.5rem rgba(17, 25, 40, 0.75);
}

.neu-item-depressed {
	color: darkred;
	background: linear-gradient(145deg, #25213a, #2c2844);
	box-shadow:  1rem 1rem 3rem #1d1a2d, -1rem -1rem 3rem #353053;
	transition: box-shadow 1s ease-in;
}

.neu-item-depressed:hover {
	box-shadow: 0.1rem 0.1rem 0.2rem darkred;
}

/* ----- CAMBERDEN GRADIENT BARS ----- */

.c-grid {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	
}

.c-item {
	flex: 1;
	border: 0.5rem double transparent;
	border-style: groove;
	border-color: transparent;
	box-sizing: border-box;
}

.c-item:hover {
	color: var(--cmbr-violet);
	border-color: black;
	transition: border-color 0.6s ease-in-out;
	animation-name: flashy;
	animation-duration: 5s;
	animation-iteration-count: infinite;

}

.c-item:not(:hover) {
	transition: border-color 0.6s ease-out;
}

/* ----- GLASSMORPHISM ----- */

.gla-item-grid {
	z-index: 10;
	display: flex;
	flex-flow: row wrap;
	padding: 5rem;
	column-gap: 3rem;
	background-image: url("../assets/sorghum-field.JPG");
	background-size: cover;
}

.gla-item {
	flex: 1;
	color: transparent;
	text-align: center;
	align-content: center;
	width: 5rem;
	height: 5rem;
	backdrop-filter: blur(0.2rem) saturate(90%);
    -webkit-backdrop-filter: blur(0.2rem) saturate(90%);
    background-color: rgba(17, 25, 40, 0.75);
	background-image: transparent;
	/* text-shadow: #f59b60; */
    border: 1rem solid transparent;
	

	/* box-shadow:  1rem 1rem 3rem #1d1a2d,
             -1rem -1rem 3rem #0c072c; */
}

.gla-item:hover {
	color: var(--cmbr-indigo);
	background-color: rgba(17, 25, 40, 0.0);
	background-image: var(--cmbr-gradient);

	border: 1rem double var(--cmbr-indigo);
	transition: all 1s ease-in;

}

/* ----- COLLAPSABLE DROPDOWNS ----- */

#dropdown-header {
	box-sizing: border-box;
	margin-top: 3rem;
	margin-bottom: 3rem;
	align-self: center;
	height: max-content;
}

.dropdown-grid {
	display: flex;
	flex-flow: row nowrap;
	border: 0.5rem solid transparent;
	box-sizing: border-box;
	gap: 1.5rem;
	/* column-gap: 2rem; */
	align-items: baseline;
	max-width: 100%;
	max-height: fit-content;
	
}

.dropdown-content {
	flex: 1;
	flex-flow: row wrap;
	overflow-x: visible;
	font-family: "VT323", monospace;
	text-align: left;
}

.dropdown-content > ul {
	counter-reset: item;
}

.dropdown-content > ul > li {
	list-style-type: none;
	counter-increment: item;
}

.dropdown-content > ul > li:hover {
	background: midnightblue;
	color: fuchsia;
}

.dropdown-content > ul > li::before {
	content: counter(item) " → ";
}

.dropdown {
	border: 0.5rem groove black;
	width: 100%;
	height: fit-content;
	text-align: center;
	z-index: 100;
	/* background-color: black; */
	background-color: rgba(0, 0, 0, 80%);
}

.dropdown-curtain:hover {
	cursor: pointer;
	background: darkslateblue;
	color: rosybrown;
}

.dropdown-access {
	font-family: "VT323", monospace;
	width: fit-content;
	padding: 0.2rem;
}



.dropdown-opened {
	content: normal;
}

/* ----- FOOTER AND KEYFRAMES ----- */

footer {
	bottom: 0;
	padding: 3rem;
	background: linear-gradient(var(--cmbr-degrees), black, #430766, #2c2844, #2a198a, black);
}

.eremoran-kiptascript {
	font-family: eremoran-kiptascript;
	font-size: 2rem;
}

@keyframes groovymove {
	33% {
		background-clip: border-box;
		border-width: 0.2rem;
	}
	66% {
		border-width: 0.4rem;
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		border-width: 0.5rem;
	}	
}

@keyframes flashy {
	33% {
		text-shadow: -5px -2px 0px rgb(81, 12, 170);
	}
	66% {
		text-shadow: -5px -2px 0px rgb(133, 12, 170);
	}
	100% {
		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
		text-shadow: transparent;

	}
}